@model Sinafi.Models.OpEsitoModel
@{
    ViewBag.Title = "Esito operazione";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}
    <div class="login-box" style="min-width:50%">
        <div class="login-logo">
            <img src="~/Content/img/Logo_500.png" style="width:360px" />

        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <h4>@Html.Raw(Model.msg)</h4>
        </div>
    </div>
       
