@model List<Antinori.Models.Sections>

<div class="container" style="max-width: 1740px;">
    <div class="row d-flex justify-content-center">
        <div class="menu-content pb-60 col-lg-10" style="padding:0;">
            <div class="title text-center" >
            </div>
        </div>
    </div>
    <div class="row">
        <div class="active-course-carusel" style="margin-left: auto; margin-right: auto; display: flex;">
            @foreach(var s in Model.OrderBy( p=> p.ViewOrder)) {
                <div id="@s.Id" class="single-course item" style="max-width: 200px!important; max-height: 150px!important; min-width: 200px!important; min-height: 150px!important; display: inline-block; margin: 7px!important; border: 3px solid #E0D3AF;" onclick="ShowSubsections('@s.Id')">
                    <div class="details" style="padding: 10px 10px 5px 10px; height:35%;">
                        <a class="text-center" href="#!">
                            <h5>@s.Name </h5>
                        </a>
                        @{
                            // prepare description text.
                            string desc = "-";
                            int maxlLength = 70;
                            if (s.Description != null) {
                                if (s.Description.Length > maxlLength) {
                                    desc = s.Description.Substring(0, maxlLength) + "...";
                                }
                                else {
                                    desc = s.Description;
                                }
                            }
                        }
                        
                    </div>
                    <div class="details">
                        <p class="text-center desc" style="margin-top: 5px!important;">
                            @desc
                        </p>

                        <p class="text-center desc" style="margin-top: 5px!important;">
                            @s.Description2
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
