
@{
    ViewBag.Title = "Password dimenticata";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}


        <!-- Create a form  -->
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "CONTENT_ForgotPassword_Form", @class = "form-horizontal", role = "form" })) {
            @Html.AntiForgeryToken()

            <!-- FIELD TO EDIT -->
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <small class="required">Inserisci il tuo username</small><br />
                        <input type="email" id="UserName" name="UserName" value="" class="form-control" required />
                    </div>
                </div>
                <br />
            </div>
        }
 









