@model List<Antinori.Models.SubSections>

<div class="row" style="margin-right: 18px!important; margin-left: 18px!important; ">
    <div class=".col-sm">
        <div class="section-top-border" style="padding: 20px!important; border-top: 0!important;">
            <h5 class="mb-20">Manoscritti</h5>
            <div class="row" style="border-right: 1.5px solid #eee;">
                <div class="col-md-11 mt-sm-30">
                    <div class="">
                        <ul class="unordered-list">
                            @foreach (var sub in Model) {
                                <a href="#!" onclick="ShowSubsectionPages('@sub.Id','@sub.Name')" style="color: black;">                                    
                                    <li id="sub_@sub.Name" title="@sub.Description">@sub.Name</li>
                                </a>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm" id="pages" style="margin-left: 20px!important; margin-right: 20px!important;">

    </div>
    <div class=".col-sm">
        <div class="section-top-border" style="padding: 20px!important; border-top: 0!important;">
            <h5 class="mb-20">Ricerca Avanzata</h5>
            <div class="row" style="border-left: 1.5px solid #eee;">
                <div class="col-md-11 mt-sm-30">
                    <div class="">
                        <div class="form-group">
                            <label class="ls text-uppercase mb-0">Indice</label>
                            <input type="text" id="filter" name="filter" value="" placeholder="Inserisci un indice" class="form-control" style="height: calc(2.05rem + 2px); width: 100%; margin: auto;">
                        </div>
                        <!-- FILTERS -->
                        <div class="col-md-11 mt-sm-30" id="filters" style="padding: 0;">
                        </div>
                        <div class="form-group">
                            <div class="button-group-area mt-40" style="display: table; margin: auto;">
                                <i onclick="Apply()" class="fa fa-check genric-btn info circle my-button" title="Applica Filtri">
                                </i>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 30px;">
                        <div class="form-group">
                            <label class="ls text-uppercase mb-0">Cerca Facsimile Per Numero</label>
                            <input type="number" id="pageToSearch" name="pageToSearch" placeholder="Numero Facsimile" class="form-control" style="height: calc(2.05rem + 2px); width: 50%;" min="0">
                        </div>
                        <div class="form-group" >
                            <div class="button-group-area mt-40" style="display: table; margin: auto;">
                                <i onclick="SearchPage()" class="fa fa-check genric-btn info circle my-button" title="Cerca Facsimile">
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- PAGINATION -->
<div id="pagination" style="display: flex; justify-content: center; margin-top: 20px;">

</div>