@model List<Antinori.Models.Pages>

@{
    string path = "";
}

<div class="section-top-border" style="padding: 0!important; ">
    <div class="row gallery-item">
        @foreach(var p in Model) {

            path = "/Pics/JPEG/" + p.PhotoPath.Split('\\').Last();
            <div style="padding: 12px; display: table-cell; vertical-align: middle; text-align: center; float: left; clear: both;">
                <a href="#" onclick="">
                    <img src="@path" class="mx-auto" style="height: 400px; width: 330px;" />
                    <p class="text-center desc" style="color: black;">
                        # @p.NumericOrder
                    </p>
                </a>
            </div>
        }
    </div>
</div>