@model List<Antinori.Models.Pages>

@{ 
    string path = "";
}

<div class="section-top-border">
    <h3>Image Gallery</h3>
    <div class="row gallery-item">
        @foreach(var p in Model) {

            path = "/Pics/JPEG/" + p.PhotoPath.Split('\\').Last();

            @*<div class="col-md-2" style="max-width: 10.66667%">
                <a href="#" class="img-pop-up">
                    <div class="single-gallery-image" style="max-height: 220px; max-width: 170px; background: url(@path);"></div>
                    <p class="text-center desc" style="color: black;">
                        # @p.NumericOrder
                    </p>
                </a>
            </div>*@
            <div class="col-md-3" >
                <a href="#" class="img-pop-up">
                    <div class="single-gallery-image" style="max-height: 400px; max-width: 300px; background: url(@path); margin-left: auto; margin-right: auto;"></div>
                    <p class="text-center desc" style="color: black;">
                        # @p.NumericOrder
                    </p>
                </a>
            </div>
        }


        @{
            var end = DateTime.Now;
        }
        View  @end.Subtract(ViewBag.end).TotalSeconds
        <br />
        Query @ViewBag.elapsedTime

    </div>
</div>