@{
    ViewBag.Title = "Password dimenticata";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}

<div class="login-box">
    <div class="login-logo">

        <img src="~/Content/img/Logo_500.png" style="width:360px" />
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">

        <!-- redirect to partial view. -->
        @Html.Partial("UC_ForgotPassword")

        <div class="box-footer">
            <div class="pull-right">
                <button class="btn btn-primary" onclick="forgotPassword()">Recupera password</button>
                &nbsp;&nbsp;
                <a class="btn btn-primary" href="@Url.Action("Login","Account")">Torna al login</a>
            </div>
        </div>

    </div>
    <!-- /.login-box-body -->
</div>

@section scripts{

    <script>

    function forgotPassword() {
        var UserName = $('#UserName').val();
              $('#CONTENT_ForgotPassword_Form').validate({
                  lang: 'it'
              });

              if ($('#CONTENT_ForgotPassword_Form').valid()) {
                   REFRESH_show("MODAL_Refresh");
                  var url = '@Url.Action("ForgotPassword", "Account")' + "?UserName=" + UserName;
                  var data = new FormData($('#CONTENT_ForgotPassword_Form').get(0));

                   $.getJSON(url,
                        function (data) {
                        // hide refresher.
                        REFRESH_hide("CONTENT_Refresh");
                            if (Boolean(data)) {
                                SUCCESS_function("Password inviata", "Complimenti! Ti abbiamo inviato un'email con la tua nuova password: controlla la tua casella di posta e torna al pannello di login.", "vai('@Url.Action("Login","Account")')", "OK");
                            } else {
                                    DANGER_function("Si è verificato un errore durante l'operazione", "Controllare i dati inseriti e riprovare");
                            }                         
                    }
                    )

                  
              }


        }
    </script>
}
