@{
    ViewBag.Title = "Introduzione";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
}

<section class="banner-area">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start" style="max-height: 100px!important;">
        </div>
    </div>
</section>
<section class="testomial-area section-gap" style="padding-bottom: 20px!important;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">@ViewBag.Title</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="single-defination">
                    <p>Si vogliono rendere fruibili in caratteri a stampa i “Manoscritti Autografi di Anton Ludovico Antinori” attraverso una trascrizione integrale e in crowdsourcing, con lo scioglimento delle abbreviazioni, adeguamento della punteggiatura all’uso moderno, <a href="~/home/trascrizione/criteri" target="_blank">criteri</a>  a cui dovrà attenersi il trascrittore. Per facilitare la lettura e la trascrizione, il testo originale è riportato in facsimile digitale, affrontato al foglio per la trascrizione: questa visualizzazione permette di eseguire una trascrizione di tipo interpretativa, permettendo di intervenire nel testo rendendo intellegibile il senso al lettore moderno che ha sempre accanto l’esempio dell’originale in facsimile.  </p>
                    <p>Questa “impresa editoriale digitale” si basa su un sistema che prevede la rappresentazione dei <i>Manoscritti</i> grazie a meta-annotazioni che utilizzano uno standard internazionale per le edizioni scientifiche digitali e che va sotto il nome di TEI (Text Encoding Initiative) espresse con il linguaggio XML (eXtensible Markup Language).</p>
                    <p>L’individuazione degli elementi di rappresentazione (i tag del linguaggio di marcatura) ai fini di una adeguata rappresentazione dei <i>Manoscritti</i> , secondo l’obiettivo del progetto, ha determinato la scelta di <a href="~/home/trascrizione/codifica/marcatori" target="_blank" >marcatori</a> che costituiscono il <a href="~/home/trascrizione/codifica/modello-codifica" target="_blank" >modello di codifica</a>.</p>
                    <p>Usa la <a href="~/Content/Public/Resources/Vedemecum alla trascrizione.pdf" target="_blank">guida pratica</a> per iniziare a trascrivere! </p>
                </div>
            </div>
        </div>
    </div>
</section>
