@{
    ViewBag.Title = "Curiosità sul nome di Antinori";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
}

<section class="banner-area">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start" style="max-height: 100px!important;">
        </div>
    </div>
</section>
<section class="testomial-area section-gap" style="padding-bottom: 20px!important;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">@ViewBag.Title</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="single-defination">
                    <p>Il nome dell’Erudito è sempre nella forma <i>Antonio Antinori</i> nelle sue pubblicazioni, negli atti notarili, tra cui la rinuncia all’eredità paterna in favore del fratello Gennaro (rogito del notaio Zampetti, dato all’Aquila il 26 ottobre 1753), come anche in una probabile <a href="/Book/P_TranslatePageWithAuth?pageId=14ae8439-d120-483e-933b-4360a857104d" target="_blank">firma autografa</a>; <i>Antonius, Nicolaus, Ludovicus, Maria, Iosephus</i> è il nome che si legge sul <a href="/Book/P_TranslatePageWithAuth?pageId=9eb3d0c5-365c-4d75-980e-8d92ac2b8c16" target="_blank">certificato di nascita dell’Antinori</a>, rilasciato il 14 dicembre del 1886 su richiesta del bibliotecario Enrico Casti.</p>
                    <p>La forma <i>Antonio Ludovico Antinori</i> compare nel 1781, dopo la sua morte, nell’atto notarile stipulato per la stampa dei Manoscritti (rogito del notaio Rietelli, dato all’Aquila il 29 gennaio del 1781) e sul frontespizio dei volumi editi postumi a Napoli dal titolo <a href="https://books.google.it/books?id=MZk_AAAAcAAJ&printsec=frontcover&hl=it&source=gbs_ge_summary_r&cad=0#v=onepage&q&f=true" target="_blank"><i>Raccolta di memorie istoriche delle tre Provincie degli Abruzzi</i></a>; la forma del nome <i>Antonio Ludovico Antinori</i> ,  usata probabilmente nella retorica locale per via dei contatti avuti con Ludovico Antonio Muratori di Modena (l’Arcivescovo viene chiamato anche ‘<a href="/Book/P_TranslatePageWithAuth?pageId=2f5eebf6-bb01-4324-b8da-8e4aea8fe29d" target="_blank">Ludovico Antonio Antinori</a>’) è la forma che resta in uso ancora oggi nella critica antinoriana.</p>
                </div>
            </div>
        </div>
    </div>
</section>
