@{
    ViewBag.Title = "Un Corpus a più mani";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
}

<section class="banner-area">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start" style="max-height: 100px!important;">
        </div>
    </div>
</section>
<section class="testomial-area section-gap" style="padding-bottom: 20px!important;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">@ViewBag.Title</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="single-defination">
                    <p>Guardando i Manoscritti è evidente la presenza di mani diverse e inchiostri diversi, elementi che dimostrano la partecipazione di più collaboratori di cui si avvalse l’Antinori; testimonianze utili per la ricostruzione della storia del <i>corpus</i> dei Manoscritti, che ne fanno riconoscere i vari progetti di edizione a stampa, di classificazione e ordinamento e quelli di restauro.</p>
                    <p>Nei primi tomi di <i>Annali</i> si distinguono in alto nelle pagine, i titoli aggiunti per <a href="@Url.Action("trascrizione/edizioni","Home")" target="_blank">l’edizione napoletana del 1781-1783</a>: suddivisi in capitoli e paragrafi, rispettivamente distinti con Cap. e §, sono scritti con inchiostro nero fumo.</p>
                    <p>Gli interventi del bibliotecario Enrico Casti sono nella redazione degli indici dei Manoscritti con i titoli corrispondenti talvolta riportati sulla carta <i>recto</i> in alto a destra, oltre al numero di pagina segnato a matita generalmente blu, di modulo grande.</p>
                    <p>Una progressiva numerazione delle carte, comprese quelle bianche, è in alto a destra scritta a matita e di modulo piccolo: è la cartulazione eseguita durante le attività di restauro compiuto da Giovanni Di Giacomo, restauro iniziato il primo luglio del 1970 e concluso il 12 dicembre del 1973. </p>
                    <p>Il ms. LIV di <i>Appendice</i> dal titolo <i>Notizie sull’arcivescovo A. L. Antinori</i>  sembrerebbe autografo del pronipote omonimo dell’Antinori, come si legge nella <a href="/Book/P_TranslatePageWithAuth?pageId=f2bbef99-5e23-4124-989f-bfb477d04726" target="_blank">nota</a> a firma del canonico Gianfrancesco Trionfi: </p>
                    <blockquote style="margin: 1rem;">«Consegnato questo autografo del mio scolaro don Antonio Antinori del fu Giuseppe di Aquila oggi li 29 maggio 1837 giusta il contenuto nel lui ultimo testamento in ottobre 1832 conservato da notar Damiani Vincenzo, in Aquila. Io Gianfrancesco canonico Trionfi».</blockquote>
                    <p>Il confronto tra la scrittura del ms. LIV con quella del testamento olografo del 1832 del pronipote omonimo di Antinori, fornisce elementi validi in termini di attribuzione certa del ms. LIV confrontabile anche con la scrittura riportata in <a href="/Book/P_TranslatePageWithAuth?pageId=43d7624b-4c40-4d04-bf86-d4e4b8cf3d17" target="_blank"><i>Monumenti e cose varie</i> ms. XLVIII-3, #1149</a> dove si legge «Aggiunte di riflessioni sopra il diploma di Ottone dato alla chiesa di Forcona fatto da Antonio Antinori Pronipote»; della stessa mano e stesso inchiostro le diciture «<a href="/Book/P_TranslatePageWithAuth?pageId=2f5eebf6-bb01-4324-b8da-8e4aea8fe29d" target="_blank">Queste annotazioni sono di Ludovico Antonio Antinori arcivescovo del quale era il presente manoscritto</a>» e «<a href="/Book/P_TranslatePageWithAuth?pageId=dc714ab7-19b0-4d6e-98c3-65719393d22b" target="_blank">Dell’Arcivescovo Antonio Antinori</a>» riferite a manoscritti riconosciuti autografi di Antinori.</p>
                    <p>Nei Manoscritti si legge una presunta firma autografa dell’arcivescovo, e cioè «<a href="/Book/P_TranslatePageWithAuth?pageId=14ae8439-d120-483e-933b-4360a857104d" target="_blank">E’ stata copiata da me dal suo originale oggi 3 luglio 1774, Antonio Arcivescovo Antinori</a>».</p>

                </div>
            </div>
        </div>
    </div>
</section>
