@{
    ViewBag.Title = "Altri Manoscritti Antinoriani";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
}

<section class="banner-area">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start" style="max-height: 100px!important;">
        </div>
    </div>
</section>
<section class="testomial-area section-gap" style="padding-bottom: 20px!important;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">@ViewBag.Title</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="single-defination">
                    <p>Presso la Biblioteca Nazionale di Napoli “Vittorio Emanuele III” si conserva un manoscritto antinoriano di 355 carte riguardante la storia della città e della diocesi di Lanciano; sono invece mancanti dal fondo <i>Antinori</i> della biblioteca “Salvatore Tommasi” di L’Aquila, i mss. XV-2 e XXVII di cui si conservano le copie anastatiche, digitalizzate per il progetto di consultazione e trascrizione del <i>corpus</i>.</p>
                    <p>Nella Biblioteca Diocesana di Lanciano si conserva <i>Il libro di memorie di A. L. Antinori</i>, manoscritto di 430 carte con regesti di scritture di archivi ecclesiastici lancianesi, pubblicato da Michele Scioli nel 1995.</p>
                    <p>Nell’Archivio Parrocchiale di S. Maria Paganica dell’Aquila si conservano due manoscritti antinoriani di 9 e 14 carte con i regesti delle pergamene dell’archivio stesso, pubblicati da Fulvio Giustizia nel 2019; presso l’Archivio del monastero di S. Amico dell’Aquila, nel fondo “Monastero di S. Lucia”, si conservano due manoscritti antinoriani di 9 e 40 carte, contenenti rispettivamente i regesti delle pergamene del monastero S. Lucia e la trattazione sulla vita e il culto della “beata Cristina da Lucoli”, rinvenuti da Alessia Di Stefano nel 2000 durante i lavori di inventariazione dell’archivio. </p>
                    <p>Altri manoscritti antinoriani potrebbero trovarsi presso differenti biblioteche o archivi: contattaci per segnalarne la presenza!</p>
                </div>
            </div>
        </div>
    </div>
</section>
