@{
    ViewBag.Title = "Cookie Policy";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
}

<!-- upper Area -->
<section class="banner-area">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start" style="max-height: 100px!important;">
        </div>
    </div>
</section>
<!-- upper  Area -->
<div class="whole-wrap">
    <div class="container">
        <div class="section-top-border">
            <h3 class="mb-30">@ViewBag.Title</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="single-defination">
                        <h4 class="mb-20">Cookies</h4>
                        <p>I cookie potrebbero essere utilizzati sul nostro sito Web e nelle nostre e-mail per offrire agli utenti un servizio e un’esperienza migliori. Questo documento descrive le categorie di cookie che utilizziamo e condividiamo con i nostri partner, il loro scopo e come modificare le proprie preferenze.</p>
                        <h4 class="mb-20">Cosa sono i cookie?</h4>
                        <p>
                            I cookie sono piccoli file di dati memorizzati dal browser sul disco rigido del computer.
                            Ogni volta che un utente torna a visitare il nostro sito Web, il browser ci rinvia questi cookie in modo da permetterci di offrirgli un’esperienza personalizzata, che rifletta i suoi interessi e le sue preferenze e faciliti l’accesso ai nostri servizi.
                        </p>
                        <h4 class="mb-20">
                            Quali cookie vengono utilizzati?
                        </h4>
                        <p>
                            I cookie utilizzati consentono di riconoscere gli utenti che tornano a visitare il sito e i loro dati, in modo da evitare loro di dover inserire più volte le stesse informazioni. Inoltre, consentono di analizzare i modelli di traffico degli utenti che visitano il nostro sito Web in modo da migliorarne l’usabilità. Ecco alcuni dei tipi di cookie utilizzati sul sito Web:
                            <ul>
                                <li><b>Cookie tecnici</b><br />È possibile che vengano utilizzati cookie tecnici per permettere agli utenti di usufruire dei servizi richiesti tramite il nostro sito Web. Senza questi cookie, non sarebbe possibile fornire i servizi richiesti. Per esempio, i cookie tecnici possono essere utilizzati per: Permettere agli utenti di accedere ad aree sicure del nostro sito Web senza dover continuamente effettuare il login Ricordare eventuali azioni eseguite dall’utente (per esempio, il completamento di un modulo) quando si torna alla pagina precedente di una sessione Gestire e ricordare gli elementi aggiunti al carrello in eventuali sezioni di e-commerce<br /></li>
                                <li><b>Cookie analitici</b><br />I cookie analitici potrebbero essere utilizzati per ottenere informazioni sull’uso del sito Web, delle inserzioni pubblicitarie e delle e-mail e per avvisarci di eventuali errori. Inoltre, questi cookie permettono di ottenere informazioni tecniche dettagliate, quali l’ultima pagina visitata, il numero di pagine visitate, se un’e-mail è stata aperta, quali parti del sito Web o delle e-mail vengono cliccate dagli utenti e il tempo trascorso fra un clic e l’altro. Queste informazioni potrebbero essere associate a dettagli dell’utente quali indirizzo IP, dominio o browser; tuttavia, vengono analizzate insieme a informazioni di altre persone in modo da non identificare un determinato utente rispetto all’altro. Per esempio, questi cookie potrebbero essere utilizzati sul nostro sito Web per: Analizzare e migliorare le prestazioni e il design del nostro sito Web, delle inserzioni pubblicitarie e delle e-mail Quantificare la risposta ad eventuali campagne di marketing e migliorarne l’efficacia Calcolare gli errori che si verificano sul nostro sito Web per migliorare il servizio e gestire eventuali reclami<br /></li>
                                <li><b>Cookie di terze parti</b><br />Quando un utente utilizza il nostro sito Web, è possibile che vengano memorizzati alcuni cookie non controllati da noi. Questo accade, per esempio, se l’utente visita una pagina che contiene contenuti di un sito Web di terzi. Di conseguenza, l’utente riceverà cookie da questi servizi di terze parti. I cookie non contengono informazioni personali, a meno che l’utente non abbia effettuato l’accesso all’account. Per esempio, i cookie di terze parti potrebbero essere originati da: YouTube o Facebook Operatori di fiducia Media agency retribuite Campagne di marketing Per ulteriori informazioni sull’utilizzo dei cookie da parte di terzi, consultare l’Informativa sulla privacy e sui cookie dei servizi in questione.<br /></li>
                            </ul>
                        </p>
                        <br />
                        <p>
                            <h4 class="mb-20">
                                Cookie Utilizzati
                            </h4>
                            <table>
                                <thead>
                                    <tr style="background-color: #f2f2f2;">
                                        <th style="padding: 8px;">Nome Cookie</th>
                                        <th style="padding: 8px;">Categoria</th>
                                        <th style="padding: 8px;">Scopo</th>
                                        <th style="padding: 8px;">Durata</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="padding: 8px;">Cookie Consent</td>
                                        <td style="padding: 8px;">Gestione del consenso</td>
                                        <td style="padding: 8px;">Memorizza la preferenza dell'utente riguardo l'accettazione o il rifiuto dei cookie, in modo da non mostrare nuovamente il banner.</td>
                                        <td style="padding: 8px;">365 giorni</td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 8px;">__gsas</td>
                                        <td style="padding: 8px;">Marketing / Analitico</td>
                                        <td style="padding: 8px;">Utilizzato per la personalizzazione degli annunci pubblicitari tramite il network di Google, raccogliendo informazioni pseudonimizzate sul comportamento di navigazione.</td>
                                        <td style="padding: 8px;">390 giorni</td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 8px;">__RequestVerificationToken</td>
                                        <td style="padding: 8px;">
                                            Protezione contro attacchi CSRF
                                        </td>
                                        <td style="padding: 8px;">
                                            Token univoco per verificare la richiesta.
                                        </td>
                                        <td style="padding: 8px;">Sessione</td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 8px;">.AspNet.ApplicationCookie</td>
                                        <td style="padding: 8px;">
                                            Autenticazione
                                        </td>
                                        <td style="padding: 8px;">
                                            Memorizza l'identità dell'utente autenticato.
                                        </td>
                                        <td style="padding: 8px;">Sessione</td>
                                    </tr>
                                </tbody>
                            </table>
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>