@{
    ViewBag.Title = "Il Progetto";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
}

<!-- upper Area -->
<section class="banner-area">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start" style="max-height: 100px!important;">
        </div>
    </div>
</section>
<!-- upper  Area -->
<div class="whole-wrap">
    <div class="container">
        <div class="section-top-border">
            <h3 class="mb-30">@ViewBag.Title</h3>
            <div class="row">
                <div class="col-md-12">
                    <div class="single-defination">
                        <p>
                            "<i>Pubblicare tale apparato non era, com’è facile pensare, un’impresa delle più semplici. Nondimeno noi l'abbiamo affrontata con tutto l’ardore che ci ispirava la sua stessa grandiosità</i>”
                        </p>
                        <p style="text-align:right;">Vincenzo De Bartholomaeis, 1913</p>

                        <p>
                            Non è nuova l’idea di trascrivere e pubblicare i 106 manoscritti antinoriani che occupano 6 metri
                            lineari di scaffalatura! Alla fine del Settecento venne pubblicata a Napoli <i>la Raccolta di memorie
                            Storiche delle tre provincie degli Abruzzi</i>, edizione di un estratto degli <i>Annali degli Abruzzi</i>; nel 1934
                            fu completata la trascrizione dei primi tre volumi di <i>Corografia storica degli Abruzzi</i> ad opera dei
                            deputati di Storia Patria degli Abruzzi, istituzione che dall’inizio delle sue attività assunse il compito
                            di pubblicare i manoscritti di Antonio Antinori.
                        </p>
                        <p>
                            <i>Il progetto</i> di oggi è quella di portare avanti l’antico progetto attraverso il coinvolgimento di un vasto
                            numero di operatori volontari che vi partecipano in rete: appassionati di storia
                            abruzzese, studenti, docenti di scuola, membri della Deputazione di Storia Patria etc; un progetto
                            di alto valore sul piano della cooperazione tra università e collettività che, oltre ad accelerare il
                            lavoro, creerà una comunità aperta di significativo valore sociale e scientifico. In questo progetto si
                            vuole dare anche la possibilità di consultare le fonti citate nei manoscritti antinoriani,
                            semplicemente cliccando sugli allegati disponibili accanto all’immagine del manoscritto.

                            Inizia a trascrivere una o più pagine a scelta e sottoponi il tuo lavoro ai revisori per farlo pubblicare
                            a nome tuo: segui le norme per le la trascrizione che trovi nelle <i>Guide</i> e non esitare a farci
                            domande contattandoci.
                        </p>

                    </div>
                </div>

            </div>
            <div class="row" style="margin-top: 60px;">
                <div class="col-md-12">
                    <div class="single-defination">
                        <h4 class="mb-20">Il Team</h4>
                    </div>

                </div>
            </div>
            <div class="container" style="margin-top: 40px; padding-left: 7%; padding-right: 7%;">
                <div class="row">
                    <div class="active-tstimonial-carusel">
                        <div class="single-testimonial item">
                            <img class="mx-auto" src="~/Content/img/Team/Marco.jpg" style="max-height: 120px; max-width: 120px;" alt="">
                            <p class="desc">
                                Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory
                            </p>
                            <h4>Marco Segala</h4>
                            <p>
                                Professore                              
                            </p>
                            <div class="row" style="margin-left: auto; margin-right: auto; display: inline-block;">
                                <a href="mailto:marco.segala@univaq.it" style="margin: 5px 5px 0 5px;">
                                    <i class="fa fa-at" style="color: #654321"></i>
                                </a>
                                <a href="https://scienzeumane.univaq.it/index.php?id=segala" target="_blank" style="margin: 5px 5px 0 5px;">
                                    <i class="fa fa-university" style="color: #654321"></i>
                                </a>
                            </div>
                        </div>
                        <div class="single-testimonial item">
                            <img class="mx-auto" src="~/Content/img/Team/Andrea.jpeg" style="max-height: 120px; max-width: 120px;" alt="">
                            <p class="desc">
                                Consolidata esperienza nella progettazione e realizzazione software in ambito Desktop, Web, Mobile e IoT. 
                                <br>
                                Si è occupato principalmente della progettazione, sviluppo e manutenzione della piattaforma Manoscritti Antinoriani.
                            </p>
                            <h4>Andrea Perelli</h4>
                            <p>
                                Software Engineer
                            </p>
                            <div class="row" style="margin-left: auto; margin-right: auto; display: inline-block;">
                                <a href="mailto:andreaperelli.95@gmail.com" style="margin: 5px 5px 0 5px;">
                                    <i class="fa fa-at" style="color: #654321"></i>
                                </a>
                                <a href="https://www.linkedin.com/in/andrea-perelli/" target="_blank" style="margin: 5px 5px 0 5px;">
                                    <i class="fa fa-linkedin" style="color: #654321"></i>
                                </a>
                            </div>
                        </div>

                        <div class="single-testimonial item">
                            <img class="mx-auto" src="~/Content/img/Team/Alessia.jpeg" style="max-height: 120px; max-width: 120px;" alt="">
                            <p class="desc">
                                Archivista impegnata nel recupero, ordinamento e descrizione di archivi
                                storici privati. Curatrice di mostre per la valorizzazione del patrimonio archivistico e librario.
                            </p>
                            <h4>Alessia Di Stefano</h4>
                            <p>
                                Archivista
                            </p>
                            <div class="row" style="margin-left: auto; margin-right: auto; display: inline-block;">
                                <a href="mailto:alessiadistefano05@gmail.com" style="margin: 5px 5px 0 5px;">
                                    <i class="fa fa-at" style="color: #654321"></i>
                                </a>
                                <a href="https://www.facebook.com/AlessiaDiStefanoBBCC" target="_blank" style="margin: 5px 5px 0 5px;">
                                    <i class="fa fa-facebook" style="color: #654321"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FINANZIAMENTI -->
            <div class="row" style="margin-top: 60px;">
                <div class="col-md-12">
                    <div class="single-defination">
                        <h4 class="mb-20">Finanziamenti</h4>
                        <p>
                            <a href="https://www.fondazionetim.it" target="_blank" style="text-decoration: none; color: inherit;">Fondazione Telecom Italia (Fondazione TIM)</a>: ha finanziato, con donazione alla <a href="https://www.regione.abruzzo.it/" target="_blank" style="text-decoration: none; color: inherit;">Regione Abruzzo</a>, il progetto di digitalizzazione dei Manoscritti Antinoriani conservati presso la Biblioteca Salvatore Tommasi dell’Aquila.
                            <br /> <br />
                            <a href="https://www.univaq.it" target="_blank" style="text-decoration: none; color: inherit;">L’Università dell’Aquila</a> (<a href="https://scienzeumane.univaq.it" target="_blank" style="text-decoration: none; color: inherit;">Dipartimento di Scienze umane</a> e <a href="http://disim.univaq.it" target="_blank" style="text-decoration: none; color: inherit;">Dipartimento di Ingegneria e Scienze dell’Informazione e Matematica</a>) ha collaborato con la Regione Abruzzo per questa attività che valorizza la sintesi tra il sapere umanistico e quello delle tecnologie dell’informazione.
                        </p>
                    </div>
                    <div class="row" style="margin-top: 50px; text-align: center;">
                        <div class="col-md-3">
                            <a href="https://www.fondazionetim.it/" target="_blank">
                                <img src="~/Content/img/Logos/logoFondTim.png" style="max-height: 100px; margin: auto;" />
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="https://www.univaq.it/" target="_blank">
                                <img src="~/Content/img/Logos/logo-ateneo.png" style="max-height: 100px;  margin: auto;" />
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="https://www.regione.abruzzo.it/" target="_blank">
                                <img src="~/Content/img/Logos/regAbruzzo.jpg" style="max-height: 100px;  margin: auto;" />
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="https://www.regione.abruzzo.it/content/ufficio-attivit%C3%A0-culturali-e-biblioteca-%E2%80%9Csalvatore-tommasi%E2%80%9D-laquila" target="_blank">
                                <img src="~/Content/img/Logos/BibliotecaRegionale.png" style="max-height: 100px;  margin: auto;" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>