@{
    ViewBag.Title = "Sommario dell'Edizione Napoletana di Annali";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
}

<section class="banner-area">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start" style="max-height: 100px!important;">
        </div>
    </div>
</section>
<section class="testomial-area section-gap" style="padding-bottom: 20px!important;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-12">
                <div class="title text-center">
                    <h1 class="mb-10">@ViewBag.Title</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="single-defination">
                    <h5>Sommario Tomo I</h5>
                    <p>L’editore a chi legge p. V</p>
                    <p>Saggio della vita di Monsignor Antinori p. IX</p>

                    <br />
                    <p><b>CAPO</b> I. Notizie, ed osservazioni intorno alle origini, passaggi, ed avventure, e caratteri di varj antichi Popoli, che popolarono l’Italia.  p. 1</p>
                    <p>§. I. Degli Aborigeni. p. 1</p>
                    <p>§. II. De’ Liburni. p. 1</p>
                    <p>§. III. I Sicoli, e i Liburni passano ad abitare il campo Palmense. p. 3</p>
                    <p>§. IV. Degli Umbri, degli Etrusci, e dei Piceni. A. del Mondo 2159 p. 3</p>
                    <p>§. V. Gli Umbri scacciano i Siculi, e i Liburni. p. 6</p>
                    <p>§. VI. Carsoli, Issa, e Marruvio abitazione degli Aborigeni. p. 7</p>
                    <p>§. VII. I Pelasgi per oracolo di Apollo dalla Grecia passano in Cotilia. p. 8</p>
                    <p>§. VIII. Lago presso Cotilia nel Territorio di Reate. p. 9</p>
                    <p>§. IX Grandezza, e qualità del Lago. p. 10</p>
                    <p>§. X. I Pelasgi adempiono alla richiesta dell’Oracolo con il Sacrificio d’un Uomo in ogni anno.  p. 10</p>
                    <p>§. XI. Ercole fa cangiare il Sacrificio dell’Uomo in un simulacro di cera. p. 11
                    <br />
                    <br />
                    <p><b>CAPO</b> II. Varie opinioni sull’origine de’ Peligni. p. 12</p></p>
                    <p><b>CAPO</b> III. Incerta Origine de’ Marrucini. p. 13</p>
                    <br>
                    <p><b>CAPO</b> IV. Fondazione di Roma, e ratto delle Sabine. Anni di Roma I. p. 14</p>
                    <p>§. I. Ricerche de’ Sabini a Romolo per riavere le Sabine. p. 14</p>
                    <p>§. II. Sconfitta de’ Ceninesi, de’ Fidenati, de’ Crustomini. A. di R. 2. p. 15</p>
                    <p>§. III. Guerra de’ Sabini contra de’ Romani. A. di R. 3. p. 15</p>
                    <p>§. IV. Morto Tazio, Romolo fu riconosciuto Re dai Sabini. A. di R. 8.  p. 16 </p>
                                        
                    <br>
                    <p><b>CAPO</b> V. Numa si fa persuadere ad esser Re di Roma. Anni di Roma 39.  p. 17</p>
                    <p><b>CAPO</b> VI. Origine del Nome della Via Salaria.  p. 17</p>
                    <p><b>CAPO</b> VII. Tullo succede al Re Numa. A. di R. 82. p. 17</p>
                    <p><b>CAPO</b> VIII. Sabini disfatti da’ Romani. A. di R. 136. p. 18</p>
                    <p><b>CAPO</b> IX. Latini ribellati, e compressi dal Re Tarquinio. A. di R. 160. p. 18</p>
                    <p>§. I Tarquinio guerreggiò co’ Sabini. p. 18</p><p>§. II. Publicola Vincitore in due volte de’ Sabini. A. di R. 249. p. 19</p><p>§. III. Sabini ribellati, e vinti da Publicola. A. di R. 250. p. 19</p><p>§.IV. I Sabini fanno nuova incursione nell’Agro Romano, e furono disfatti da Postumio,</p><p>e Menenio Agrippa Consoli. A. di R. 251. p. 22</p><p>§. V. I nuovi Consoli fanno la pace con i Sabini. A. di R. 252. p. 23</p><p>§. VI. Confederazione de’ Sabini cogl’Equi, e Volsci, e loro sconfitta. A. di R. 260. p. 23</p><p><br /></p><p><b>CAPO</b> X. Gli Equi sollevati contra a’ Romani prendono Tuscolo;</p><p>furono poi disfatti dal Dittatore Lucio Quinzio. A. di R. 281. p. 23</p><p>§. I. Gli Equi, ed i Sabini muovono le armi contra de’ Romani. A. di R. 305. p. 25</p><p>§. II. I Sabini, e gli Equi vinti da Consoli Valerio, ed Orazio. A. di R. 306.  p. 26</p><p>§. III. Discordie fra il Senato, e il Popolo di Roma, e nuova invasione de’ Sabini, ed Equi.</p><p>A. di R. 309. p. 26</p><p><br /></p><p><b>CAPO</b> XI. Trionfo d’Annio Postumio Tuberto riportato dagli Equi, e Volsci. A. di R. 322.  p. 26</p>
                    <p><b>CAPO</b> XII. Sedizioni de’ Romani, e contrasti con i Tirreni. A. di R. 330.  p. 27 <b>CAPO</b> XIII. Vole Città espugnata da Postumio. A. di R. 341.  p. 27</p>
                    <p>§. I. Nuova vittoria de’ Romani contra degli Equi. Decretazione de’ stipendi a’ soldati. A. di R. 345.  p. 28</p>
                    <br />
                    <p><b>CAPO</b> XIV. I Vejenti si uniscono con altri per andar contra de’ Romani. A. di R. 352.  p. 28</p>
                    <br />
                    <p><b>CAPO</b> XV. Roma appena liberata da’ Galli, venne infestata dagli Equi, Volsci, e Latini. A. di R. 366.  p. 28 <b>CAPO</b> XVI. I Romani si guardano dal muover guerra ai Vestini. A. di R. 428.  p. 29</p>
                    <p><b>CAPO</b> XVII. Sanniti vinti da Lucio Papirio, ed obbligati alla pace. A. di R. 430. p. 30</p>
                    <p><b>CAPO</b> XVIII. I Sanniti mandano sotto il Giogo i Romani. A. di R. 433. p. 30</p>
                    <p>§. I. I Sanniti soggiogati da’ Romani. A. di R. 434. p. 32</p>
                    <p><b>CAPO</b> XIX Valerio Massimo ritoglie la Città di Sora a’ Sanniti. A. di R. 441.  p. 33</p>
                    <p>§. I. Sanniti vinti da Cajo Giunio Bubulco. A. di R. 443. p. 33</p>
                    <p>§. II. Sanniti vinti da’ Romani sotto il Capitano Quinto Marcio Tremolo. A. di R. 447.  p. 35 <b>CAPO</b> XX. Via Valeria perfezionata. A. di R. 448.  p. 35</p>
                    <p><b>CAPO</b> XXI. Vestini, Peligni, Marruccini, e Marsi cercano pace ai Romani. p. 36</p>
                    <p>§. I. IL Popolo Romano fece società co’ Marsi, co’ Pellenensi, e co’ Marruccini.  p. 37</p>
                    <p>§. II. I Romani ricuperata Sora, Arpino, ed altre Città e fatta la pace con loro, rivolsero le armi contro degli Equi.  p. 37</p>
                    <p>§. III. Il Console Aullo vince i Frentani. A. di R. 449. p. 38</p>
                    <p><b>CAPO</b> XXII. Marsi vinti da Valerio Massimo. A. di R. 451. p. 39</p>
                    <p>§. I. Deduzione delle Colonie in Sora, ed in Alba. p. 43</p>
                    <p><b>CAPO</b> XXIII. I Sanniti, stabilita società con i Galli,</p>
                    <p>si preparano alla guerra contro de’ Romani. A. di R. 455. p. 46</p>
                    <p>§. I. La Confederazione de’ Sanniti atterrisce i Romani. A. di R. 456. p. 46</p>
                    <p>§. II. I Romani espugnano Romulea Città del Sannio. A. di R. 456. p. 46</p>
                    <p>§. III. Gli Equi volendo espugnare la nuova Colonia vengono respinti dagli stessi Coloni. p. 47</p>
                    <p>§. IV. I Marrucini, i Frentani, Peligni e Vestini danno ajuto ai Romani nella Guerra della Gallia Cisalpina.  p. 48</p>
                    <p>§. V. Galli vinti da Massimo colla morte del Console Decio. A. di R. 457.  p. 48</p>
                    <p>§. VI. Attilio Regolo fa passare i Sanniti sotto il giogo. A. di R. 458.  p. 49</p>
                    <p>§. VII. I Sanniti tentano di rifarsi del sofferto dissonore, e muovono guerra a’ Romani,</p>
                    <p>da’ quali sono vinti. A. di R. 459. p. 49</p>
                    <p>§. VIII. Spurio Carvilio colle armi de’ Sanniti forma nel Campidoglio il Colosso di Giove.  p. 51</p>
                    <p>§. IX. I Sanniti, e i Falisci in occasione della peste in Roma tumultuano contro de’ Romani, da’ quali restano vinti. A. di R. 460.  p. 52</p>
                    <p><b>CAPO</b> XXIV. Deduzione di due Colonie Romane, una in Castro nell’Agro Pretuziano, e l’altra in Atri. A. di R. 463.  p. 53</p>
                    <p><b>CAPO</b> XXV. I Sanniti, i Galli, ed i Tirreni, si collegano con i Tarentini</p>
                    <p>contra de’ Romani. A. di R. 469. p. 53</p>
                    <p>§. I. Combattimento de’ Romani con i Tarentini presso di Eraclea, e del fiume Liri. A. di R. 472.  p. 54</p>
                    <p>§. II. Rufino, e Giunio Consoli invadono il Sannio, e ne devastano le Campagne. A. di R. 475.  p. 54</p>
                    <p>§. III. I Romani muovono di nuovo guerra nel Sannio, ne’ Bruzj, e ne’ Lucani. A. di R. 476.  p. 55</p>
                    <p>§. IV. Manio Curio ricusa l’oro presentatogli dai Legati de’ Sanniti. A. di R. 479. p. 56</p>
                    <p>§. V. Lollio Sannite, fuggito dall’Ostaggio in Roma, fù preso con tutta</p>
                    <p>la sua gente collettizia, dall’Esercito di Q. Gallo. A. di R. 483. p. 56</p>
                    <p><b>CAPO</b> XXVI. L’anno della fondazione di Castro nell’agro Pretuziano. A. di R. 489. p. 57</p>
                    <p><b>CAPO</b> XXVII. I Sanniti machinano insidie a’ Romani, ma sono traditi da Erio Potilio. A. di R. 493.  p. 57 <b>CAPO</b> XXVIII. I Marsi, i Marruccini, i Frentani, e i Vestini danno ajuto a’ Romani</p>
                    <p>nella Guerra Gallica Cisalpina. A. di R. 528. p. 58</p>
                    <p>§. I. I Marsi, e altri delle vicine Regioni, per ordine del Senato sono arrolati alla Milizia de’ Socj del nome</p>
                    <p>Latino otto anni prima della Guerra di Canne. p. 58</p>
                    <p>§. II. Annibale dopo vinta la battaglia del Trasimeno va ad accamparsi in Adria,</p>
                    <p>dove ristorò l’esercito. p. 58</p>
                    <p>§. III. Sanniti, Appuli, Irpini, e altri si danno al partito di Annibale. A. di R. 537.  p. 60</p>
                    <p>§. IV. Non volendo Annibale dar soccorso all’assediata Città di Capoa, vien quella presa da’ Romani. A. di R. 540.  p. 60</p>
                    <p>§. V. Le Colonie Adriana, e Fermana si mantengono fedeli a’ Romani</p>
                    <p>nella guerra contro Annibale. A. di R. 545. p. 61</p>
                    <p>§. VI. Varj Spettri, e fenomeni veduti nella riferita guerra. p. 61</p>
                    <p>§. VII. Il Senato di Roma impone gravosa contribuzione alle Colonie di Alba, e di Carseoli.  p. 63</p>
                    <p>§. VIII. Il Senato di Roma differì ad altro tempo la pena dovuta ai Popoli di Alba, e di Carseoli.  p. 65</p>
                    <p><b>CAPO</b> XXVIII. Claudio Nerone dalla Daunia passa nell’Umbria. A. di R. 546. p. 67</p>
                    <p>§. I. Diverso carattere dei Marruccini, dei Frentani, e dei Pretuziani. p. 67</p>
                    <p><b>CAPO</b> XXIX. Publio Scipione, per far partire Annibale dall’Italia parte</p>
                    <p>verso l’Africa colla classe de’ Socj. A. di R. 547. p. 68</p>
                    <p>§. I. I Marruccini si ascrivono alla milizia. p. 68</p>
                    <p><b>CAPO</b> XXX. Siface Re de’ Numidi si manda in Alba per esser custodito. A. di R. 549.  p. 69</p>
                    <p><b>CAPO</b> XXXI. Esercito Romano situato ne’ Campi Frentani. A. di R. 582. p. 70</p>
                    <p>§. I. Coorti di Fanti, dei Peligni, dei Marruccini, e di altri, che uniti ai Romani militarono nella guerra Macedonica. A. di R. 583.  p. 70</p>
                    <p>§. II. Il Re Perseo fatto prigioniero si manda a custodire in Alba. A. di R. 584.  p. 70</p>
                    <p>§. III. Il Re Perseo annojato si ammazza da per se. A. di R. 588.  p. 71</p>
                    <p>§. IV. Il Re degl’Arverni è mandato prigioniero in Alba. p. 72</p>
                    <p><b>CAPO</b> XXXII. Acqua Marzia portata in Roma da Quinto Marzio. Origine, e qualità di essa, e del fiume Pitonio. A. di R. 610.  p. 72</p>
                    <p>§. I. Escrescenza del Lago Fucino. A. di R. 616. p. 80</p>
                    <p><b>CAPO</b> XXXIII. Silla accompagnato da una Coorte Peligna va a trattar la pace con Bocco Re di Mauritania. A. di R. 647.  p. 81</p>
                    <p>§. I. Gneo Pompeo soggioga i Marsi, i Marruccini, e i Vestini. p. 82</p>
                    <p>§. II. I Popoli di Monte Gargano si ribellano ai Romani. A. di R. 650. p. 82</p>
                    <p>§. III. Gn. Petrejo incerto se sia di Atina ne’ Marsi. A. di R. 659.  p. 83</p>
                    <p><b>CAPO</b> XXXIV. Gli Alleati tumultuano contra de’ Romani per avere</p>
                    <p>il dritto alla Cittadinanza. A. di R. 662. p. 83</p>
                    <p>§. I. Principio della Guerra Sociale, detta Marsica. A. di R. 662. p. 85</p>
                    <p>§. II. Publio Rutilio Lupo Console, ed Erio Asinio Pretore de’ Marruccini</p>
                    <p>morti in battaglia. A. di R. 663. p. 86</p>
                    <p>§. III. Corfinio Città eletta per Capitale dagli Alleati. p. 87</p>
                    <p>§. IV. Eracleoti portano ajuto a’ Romani. p. 88</p>
                    <p>§. V. Prodigiosi avvenimenti accaduti. A. di R. 664. p. 89</p>
                    <p>§. VI. Vittorie de’ Socj su de’ Romani. A. di R. 664. p. 90</p>
                    <p>§. VII. Legge Giulia. p. 91</p>
                    <p>§. VIII. Fine della Guerra Sociale. p. 92</p>
                    <p>§. IX. Stabie nella Campania distrutta da Lucio Silla. p. 93</p>
                    <p>§. X. I Soci si ammettono alla Cittadinanza, e vengono distribuiti nell’antiche Tribù. A. di R. 669.  p. 95</p>
                    <p><br /></p>
                    <p><b>CAPO</b> XXXV. Nascita di Ovidio in Sulmona nell’A. di R. 671. p. 95</p>
                    <p>§. I. Sulmona demolita da Silla. p. 96</p>
                    <p><br /></p>
                    <p><b>CAPO</b> XXXVI. M. Varrone descrive la Selva delle acque Cutilie. A. di R. circa 680.  p. 96 <b>CAPO</b> XXXVII. Aulo Cluvenzio Avito vien difeso da Cicerone. A. di R. 687.  p. 97</p>
                    <p><b>CAPO</b> XXXVIII. Restano soppresse le commozioni insorte nei Peligni, e nei Bruzj. A. di R. 692.  p. 98</p>
                    <p>§. I. Confusione della voce Vescinus co’ Vestinus. p. 98</p>
                    <p><b>CAPO</b> XXXIX. Nasce sospetto di Commozione contro Cesare per la distribuzione proposta dei terreni nella Campagna. A. di R. 694.  p. 99</p>
                    <p><br /></p>
                    <p><b>CAPO</b> XL. Le Città d’Italia si dichiarano pronte a prender l’armi</p>
                    <p>in difesa di Cicerone esiliato. A. di R. 695. p. 99</p>
                    <p>§. I. Statone nativo de’ Marsi compra la casa di Cicerone. p. 100</p>
                    <p>§. II. Cicerone richiamato dall’Esilio. A. di R. 696. p. 100</p>
                    <p><b>CAPO</b> XLI. Publio Vatinio vien cassato dalla Tribù Sergia,</p><p>dov’erano ascritti i Marsi, e i Peligni. A. di R. 697. p. 101</p>
                    <p><b>CAPO</b> XLII. Servilio Isaurico forse Originario di Alba. A. di R. 699. p. 101</p>
                    <p><b>CAPO</b> XLIII. Cesare pensò a far eliggere i Quatuorviri da tutte le Città. A. di R. 702.  p. 102</p>
                    <p><br /></p>
                    <p><b>CAPO</b> XLIV. Origine dei Giuochi, ne’ quali facevansi correr le Volpi</p>
                    <p>con fiaccole accese alle code. A. di R. 703. p. 103</p>
                    <p>§. I. Cajo Sallustio Crispo levato dal Senato. p. 103</p>
                    <p><b>CAPO</b> XLV. Cesare entra armato in Italia contro Pompeo. A. di R. 704. p. 104</p>
                    <p>§. I. Cesare arriva avanti Corfinio. p. 105</p>
                    <p>§. II. I Sulmonesi aprono le porte della Città ad Antonio. p. 105</p>
                    <p>§. III. Pompeo incolpa Domizio della resa di Corfinio. p. 108</p>
                    <p>§. IV. Pompeo vuol persuadere Domizio di unirsi a lui colle sue Truppe. p. 110</p>
                    <p>§. V. Cesare parte da Corfinio per Brindisi. p. 113</p>
                    <p>§. VI. Cicerone loda la clemenza di Cesare. p. 115</p>
                    <p>§. VII. Ponte di Aterno vicino Corfinio rinomato pel passaggio di Cesare. p. 115</p>
                    <p>§. VIII. Due Coorti de’ Marruccini obligano alla fuga alcuni soldati di Pompeo. A. di R. 705.  p. 116</p>
                    <p>§. IX. Motivo addotto da Cicerone per indurre Cesare a perdonare Ligario. A. di R. 707.  p. 116</p>
                    <p>§. X. Cesare medita l’emissario nel lago Fucino. A. di R. 707. p. 118</p>
                    <p>§. XI. Erofilo mandato in esilio da Cesare. A. di R. 708. p. 118</p>
                    <p>§. XII. I Municipj d’Italia si mostrano affezionati ad Ottavio. A. di R. 709. p. 119</p>
                    <p>§. XIII. Cicerone a riguardo dei Marruccini dissuade la pace con Marcantonio. p. 119</p>
                    <p>§. XIV. Governatori delle Provincie aderenti al partito di Cesare. A. di R. 710. p. 120</p>
                    <p>§. XV. Lettere di Asinio Pollione a Cicerone. p. 120</p>
                    <p>§. XVI. Nascita del primo Figlio ad Ovidio A. di R. 710 avanti l’Era Crist. 44.  p. 129</p>
                    <p>§. XVII. Cicerone loda la legione Marsica per avere escluso da Alba Marcantonio A. di R. 710.  p. 129</p>
                    <p>§. XVIII. Vien confinato il territorio Teatino detto Aterno. p. 131</p>
                    <p>§. XIX. Vien confinato l’Agro Troentino. p. 132</p>
                    <p>§. XX. Augusto manda le Colonie nell’Agro Pretuziano, Aternino, e Peltuinate. p. 132</p>
                    <p>§. XXI. Colonia Romana dedotta in Peltuino. p. 132</p>
                    <p>§. XXII. Augusto dona la Cittadinanza alle Provincie d’Italia, le quali furono divise in undici Legioni.  p. 133</p>
                    <p>§. XXIII. Mutazione del Calendario tra i Popoli delle Provincie  p. 134 STORIA DI OVIDIO  p. 136</p>
                    <p><b>CAPO</b> XLVI. Nascita di Publio Ovidio. A. di R. 711. prima dell’Era Vulgare 43. p. 136</p>
                    <p>§. I. Nascita del Fratello di Ovidio Nasone denominato con lo stesso Nome. p. 136</p>
                    <p>§. II. Asinio Pollione del partito di Antonio si trattiene colle Coorti nella Venezia.</p>
                    <p>A. di R. 711. avanti l’Era Vulgare 43. p. 137</p>
                    <p>§. III. Asinio Pollione ricusa di cedere la Legione trigesima. A. di R. 717. p. 138</p>
                    <p>§. IV. Educazione degli Ovidii in Roma. A. di R. 720. avanti Cristo 34. p. 140</p>
                    <p>§. V. Progressi evidenti dello studio d’Ovidio. A. di R. 726. A. C. 28. p. 140</p>
                    <p>§. VI. Viaggio d’Ovidio in Atene. A. di R. 728. A.C. 26. p. 143</p>
                    <p>§. VII. Morte del Fratello d’Ovidio. A. di R. 730. A.C. 24. p. 146</p>
                    <p>§. VIII. Ovidio fatto Decemviro. A. di R. 723. A.C. 22. p. 147</p>
                    <p>§. IX. Varie Composizioni d’Ovidio. A. di R. 734. A.C. 20. p. 149</p>
                    <p>§. X. Ovidio descrive lo stato di Sulmona. A. di R. 735. A.C. 19. p. 151</p>
                    <p>§. XI. Ovidio ricusa la carica di Questore. A. di R. 736. A.C. 18.  p. 152</p>
                    <p>§. XII. Lucio Tario Rufo diviene Console. A. di R. 737. p. 154</p>
                    <p>§. XIII. Ritorno di Augusto in Roma. A. di R. 738. p. 155</p>
                    <p>§. XIV. Da Ovidio si pubblicò il primo libro de’ suoi Amori. p. 155</p>
                    <p>§. XV. Altre Poesie di Ovidio. A. di R. 741. A.C. 13. p. 159</p>
                    <p>§. XVI. Altre Poesie de Arte amandi. A. di R. 742. A.C. 12. p. 162</p>
                    <p>§. XVII. Affinità d’Ovidio. A. di R. 743. A.C. 11. p. 163</p>
                    <p>§. XVIII. Testamento di Cecilio Claudio Isidoro. A. di R. 746. p. 164</p>
                    <p>§. XIX. Ovidio divenuto Avo per la fecondità di sua Figlia. A. di R. 747. A.C. 7.  p. 164</p>
                    <p>§. XX. Pubblicazione delle Epistole Eroiche. A. di R. 748. A.C. 6. p. 165</p>
                    <p>§. XXI. Carme Epitalamico d’Ovidio. A. di R. 749. A.C. 5. p. 166</p>
                    <p>§. XXII. La Medea Tragedia pubblicata, e recitata. A. di R. 750. A.C. 4. p. 167</p>
                    <p>§. XXIII. Vien pubblicato il terzo libro dell’arte Amatoria. A. di R. 752. p. 169</p>
                    <p>§. XXIV. Gajo Cesare milita nella Siria. A. di R. 754. di Cr. I.  p. 169</p>
                    <p>§. XXV. Altro Libro intitolato rimedio dell’Amore. A. di R. 754. di C. I. p. 170</p>
                    <p>§. XXVI. Morte di Lucio Cesare, e mossa di guerra in Germania. A. di R. 755. di Cr. 2.  p. 173</p>
                    <p>§. XXVII. Alleanza degli Armeni coi Romani. A. di R. 756. di Cr. 3. p. 173</p>
                    <p>§. XXVIII. Morte di Gajo Cesare. A. di R. 757. di Cr. 4. p. 173</p>
                    <p>§. XXIX. Nenia recitata da Ovidio. A. di R. 757. p. 174</p>
                    <p>§. XXX. Tiberio sottomette i Popoli di Germania. A. di R. 758. di Cr. 5. p. 175</p>
                    <p>§. XXXI. Imposizione sopra i legati, e guerra di Tiberio in Germania. A. di R. 759. di Cr. 6.  p. 175</p>
                    <p>§. XXXII. Saggio dell’opera de’ Fasti. p. 176</p>
                    <p>§. XXXIII. Germanico Cesare spedito in ajuto a Tiberio. A. di R. 760. di Cr. 7.  p. 184</p>
                    <p>§. XXXIV. Ovidio diventa Maestro d’una Giovane. A. di R. 760. di C. 7. p. 184</p>
                    <p>§. XXXV. Batone tratta la pace con Tiberio. A. di R. 761. p.185</p>
                    <p>§. XXXVI. Libro intitolato le Metamorfosi. A. di R. 761. di Cr. 8. p. 185</p>
                    <p>§. XXXVII. Tiberio accolto in Roma con corona di Alloro. Nuova spedizione in Germania. A. di R. 762. di Cr. 9.  p. 186</p>
                    <p>§. XXXVIII. Augusto concepisce sdegno contro Ovidio. A. di R. 762. di C. 9. p. 187</p>
                    <p>§. XXXIX. Tiberio, e Germanico partono per la guerra di Germania. A. di R. 763.  p. 199</p>
                    <p>§. XL. Ovidio prosiegue il viaggio per Tomi. A. di R. 763. di Cr. 10.  p. 199</p>
                    <p>§. XLI. Scrive alla sua Scolara, e ad altri. A. di Roma 764. di C. 11.  p. 232</p>
                    <p>§. XLII. Trionfo di Tiberio, e Giulio Germanico Cesare. A. di R. 765. di C. 12.  p. 240</p>
                    <p>§. XLIII. Altre lettere, e composizioni di Ovidio. A. di R. 765. di C. 12.  p. 240</p>
                    <p>§. XLIV. Il Senato proroga ad Augusto altri diece anni di governo della Repubblica.</p>
                    <p>A. di R. 766. di Cr. 13. p. 247</p><p>§. XLV. Ovidio termina il quinto libro delle Tristezze. A. di R. 766. dell’Er. Cr. 13.  p. 247</p>
                    <p>§. XLVI. Augusto more in Nola. A. di R. 767. di Cr. 14. p. 292</p>
                    <p>§. XLVII. Ovidio fa elogii al morto Augusto, e lo adora in un Tempio dentro la Casa.</p>
                    <p>A. di R. 767. di C. 14. p. 293</p>
                    <p>CAP. XLVII. Tiberio col nome di Cesare Germanico. A. di R. 768. di Cr. 15.  p. 301</p>
                    <p>§. I. Proseguono le lettere di Ovidio. A. di R. 768. di C. 15. p. 301</p>
                    <p>§. 2. Germanico assalisce i Batavi per mare. A. di R. 769. di Cr. 16.  p. 303</p>
                    <p>§. III. Libro composto in Lingua Getica. A. di R. 769. di C. 16. p. 304</p>
                    <p>§. IV. Ovidio muore nell’età di sessant’anni A. di R. 770. di Cr. 17.  p. 311 Opera Sec. I.  p. 320</p>
                    <p>Secolo II.  p. 321 Secolo III.  p. 323 Secolo IV.  p. 323 Secolo V.  p. 323</p>
                    <p>Secolo XIII.  p. 324 Secolo XIV.  p. 324 Sec. XV.  p. 326 CAP. XLVIII.  p. 358</p>
                    <p>§. I. Germanico passa in Armenia. A. di R. 771. di Cr. 18. p. 358</p>
                    <p>§. II. Morte di Germanico. Tiberio fa scacciare i Giudei da Roma. A. di R. 772. di Cr. 19.  p. 358</p>
                    <p>§. III. Ritorno di Druso Cesare. A. di R. 773 di Cr. 20. p. 359</p>
                    <p>§. IV. Tiberio parte per la Campania. Continuazione della guerra in Africa. A. di R. 774. di Cr. 21.  p. 359</p>
                    <p>§. V. Tiberio fa dare la Potestà Tribunizia a Druso Cesare suo Figlio. A. di R. 775. di Cr. 22.  p. 359</p>
                    <p>§. VI. Tiberio Augusto vieta in Italia l’arte degli Istrioni. A. di R. 776. di Cr. 23.  p. 360</p>
                    <p>§. VII. Fine della guerra d’Africa. A. di R. 777. di Cr. 24. p. 360</p>
                    <p>§. VIII. Moneta coniata in Utica colla Testa di Tiberio. A. di R. 779. di Cr. 25.  p. 360</p>
                    <p>§. IX. Ritiro di Tiberio in Campania, e guerra in Tracia. A. di R. 779. di Cr. 26.  p. 361</p>
                    <p>§. X. Tiberio fissa la sua dimora nell’Isola di Capri. A. di Roma 780. di Cr. 27.  p. 361</p>
                    <p>§. XI. Morte di Giulia Nipote di Augusto. A. di R. 781. di Cr. 28. p. 361</p>
                    <p>§. XII. Morte di Livia Augusta. A. di R. 782. di Cr. 29. p. 361</p>
                    <p>§. XIII. Prigionia di Asinio Gallo per odio di Tiberio. A. di R. 783. di Cr. 30.  p. 362</p>
                    <p>§. XIV. Morte di Sejano. A. di R. 784. di Cr. 31. p. 363</p>
                    <p>§. XV. Tiberio giunse fino al Tevere senza entrare in Roma. A. di R. 785 di Cr. 32.  p. 363</p>
                    <p>§. XVI. Morte di Asinio Gallo. A. di R. 786. di Cr. 33. p. 363</p>
                    <p>§. XVII. Condanna di molti Uomini per opera di Macrone successore di Sejano. A. di R. 787. di Cr. 34  p. 364</p>
                    <p>§. XVIII. Nozze di Gajo Caligola con Claudilla. A. di R. 788. di Cr. 35.  p. 364</p>
                    <p>§. XIX. Tiberio risaputa la congiura fa imprigionare Agrippa. A. di R. 789. di Cr. 36.  p. 364</p>
                    <p>§. XX. Morto Tiberio, vien confermato Gajo Caligola Imperadore. A. di R. 790. di Cr. 37.  p. 365</p>
                    <p>CAP. XLIX. Caligola ristora l’ordine Equestre. A. di R. 791. di Cr. 38. p. 365</p>
                    <p>§. I. Asinio Celere compra una Triglia per ottomila nummi. p. 365</p>
                    <p>§. II.Caligola condanna Calvisio Sabino alle spese delle Navi impiegate nel Ponte fra Baja, e Pozzuoli. A. di R. 792. di Cr. 39.  p. 366</p>
                    <p>§. III. Ritorno di Caligola in Roma. A. di R. 793. di Cr. 40.  p. 366</p>
                    <p>CAP. L. Morte di Caligola, e sostituzione di Claudio all’Impero. A. di R. 794. di Cr. 41.  p. 366</p>
                    <p>§. I. Carestia sofferta in Roma. A. di R. 795. di Cr. 42. p. 367</p>
                    <p>§. II. Primi pensieri del disseccamento del Lago Fucino a tempi di Giulio Cesare, e di Augusto.  p. 367</p>
                    <p>§. III. Si rapportano le opinioni di varj autori su questo Lago. p. 368</p>
                    <p>§. IV. Impresa del disseccamento del Lago sotto Claudio. A. di R. 795. di Cr. 42.  p. 373</p>
                    <p>§. V. Il numero delle ferie diminuito da Claudio. A. di R. 796. di Cr. 43.  p. 382</p>
                    <p>§. VI. Legione XX. Romana detta ancor Valeria. p. 383</p>
                    <p>§. VII. L’imperador Claudio distende la via Valeria fin al Mare. p. 383</p>
                    <p>§. VIII. Claudio ritorna in Roma col Trionfo della Brittannia. A. di R. 797. di Cr. 44.  p. 384</p>
                    <p>§. IX. Edifizj fatti pel ricetto degl’operarj, e delle proviste necessarie al loro mantenimento. p. 384</p>
                    <p>§. X. Vien proibito agli Ufficiali delle Provincie di poter pellegrinare. A. di R. 798. di Cr. 45.  p. 385</p>
                    <p>§. XI. Proseguimento dell’incominciato lavoro. p. 385</p>
                    <p>§. XII. Asinio Pollione mandato in Esilio da Claudio. A. di R. 799. di Cr. 46.  p. 388</p>
                    <p>§. XIII. Prosiegue lo scavo del Canale, e dei Conicoli. p. 389</p>
                    <p>§. XIV. Claudio dà al Popolo il piacere de’ giuochi secolari. A. di. R. 800. di Cristo 47.  p. 389</p>
                    <p>§. XV. Claudio fa la descrizione di tutti i Cittadini Romani. A. di R. 801. di Cr. 48.  p. 391</p>
                    <p>§. XVI. Applicazioni continue al lavoro. p. 391</p>
                    <p>§. XVII. Claudio sposa Agrippina. A. di R. 802. di Cr. 49. p. 394</p>
                    <p>§. XVIII. Dentro lo spazio di sei anni vien terminato il canale Emissario, e i Conicoli.  p. 394</p>
                    <p>§. XIX. Claudio ad insinuazione di Agrippina adotta il Figliastro Lucio Domizio.</p>
                    <p>A. di R. 803. di Cr. 50. p. 396</p>
                    <p>§. XX. Scavo per l’ingorgamento delle acque. p. 396</p>
                    <p>§. XXI. Prefetti del Pretorio deposti per insinuazione d’Agrippina. A. di R. 804. di Cr. 51.  p. 399</p>
                    <p>§. XXII. Principio del ingorgamento delle acque. p. 399</p>
                    <p>§. XXIII. Strologi discacciati dell’Italia. A. di R. 805. di Cr. 52. p. 399</p>
                    <p>§. XXIV. Utilità del disseccamento del Lago. p. 399</p>
                    <p>§. XXV. A. di R. 806. di Cr. 53. p. 410</p>
                    <p>§. XXVI. Morto Claudio, viene acclamato Imperadore Nerone. A. di R. 807. di Cr. 54.  p. 410 Indice delle cose più notabili p. 411</p>

                    <p>Sommario Tomo II</p>
                    <p><b>CAPO</b> I. Colonia dedotta in Castronuovo dell’Agro Pretuziano. A. di Cr. 67.  p. 1 An. di Cr. 68.  p. 1</p>
                    <p>§. I. Di Vespasiano Imperadore. An. di Cr. 69. p. 1</p>
                    <p>§. II. Vespasiano fa nuova aggregazione di persone degne d’Italia, e delle Provincie. A. di Cr. 72.  p. 3</p>
                    <p>A. di Cr. 77. p. 3</p>
                    <p>A. di Cr. 79. p. 4</p>
                    <p>Tito non ammette i regali soliti a farsi dalle Provincie, e solleva le Città desolate dal Vesuvio. A. di Cr. 80.  p. 5</p>
                    <p>A. di Cr. 81. p. 5</p>
                    <p>A. di Cr. 101. p. 5</p>
                    <p>Si perfeziona l’Emissario del Fucino. A. di Cr. 118. p. 6</p>
                    <p>§. III. Adriano riduce l’Italia in diciassette Provincie. p. 6</p>
                    <p>A. di Cr. 119. p. 6</p>
                    <p>A. di Cr. 133. p. 7</p>
                    <p>Si riapre l’Emissario del Lago Fucino. A. di Cr. 135. p. 7</p>
                    <p>De’ Vini supernati. A. di Cr. 251. p. 8</p>
                    <p>Legione Prima Italica encomiata. A. di Cr. 258. p. 8</p>
                    <p><b>CAPO</b> II. Dell’Itinerario d’Antonino. p. 9</p>
                    <p>A. di Cr. 260. p. 9</p>
                    <p>§. I. Itinerarj della Tavola Peutingeriana. p. 12</p>
                    <p>§. II. p. 13</p>
                    <p>§. III. Termine dell’Itinerario d’Antonino. A. di Cr. 370. p. 15</p>
                    <p>§. IV. Italia distribuita in Provincie. A. di Cr. 406. p. 17</p>
                    <p>§. V. A. di Cr. 499. p. 17</p>
                    <p>§. VI. A. di Cr. 502. p. 18</p>
                    <p>§. VII. Di Alba Fucente diversa da Albacina. p. 19</p>
                    <p>A. di Cr. 537. p. 19</p>
                    <p>A. di Cr. 538. p. 20</p>
                    <p>§. VIII. Scorrerie fatte dai Franchi. A. di Cr. 554. p. 21</p>
                    <p>§. IX. Si fa menzione tra gli altri del Vescovo de’ Marsi, e dell’altro di Ortona. A. di Cr. 649.  p. 23</p>
                    <p>§. X. A. di Cr. 683. p. 24</p>
                    <p>§. XI. A. di Cr. 739. p. 24</p>
                    <p>§. XII. Fondazione degli Ospedali, e del Monistero di Cinghia presso di Alife. A. di Cr. 750.  p. 25</p>
                    <p>§. XIII. Del Ducato di Benevento. A. di Cr. 774. p. 26</p>
                    <p>§. XIV. Donazione fatta a Paolo di alcuni beni Amiternini dal Duca di Spoleti. A. di Cr. 789.  p. 27</p>
                    <p>§. XV. Presa, e demolizione di Chieti. A. di Cr. 801. p. 28</p>
                    <p>§. XVI. Presa di Ortona. A. di Cr. 802. p. 31</p>
                    <p>§. XVII. Compra de’ beni fatta da Lodovico II. nel Territorio Pennense. A. di Cr. 853.  p. 32</p>
                    <p>§. XVII. Vescovi intervenuti nel Concilio Romano. A. di Cr. 861. p. 33</p>
                    <p>A. di Cr. 865. p. 34</p><p>§. XVIII. Di Giovanni Vescovo di Forcona. A. di Cr. 866. p. 35</p>
                    <p>CAP. III. L’Imperador Lodovico disegna la fondazione del Monistero di Casauria. p. 36</p>
                    <p>A. di Cr. 867. p. 36</p>
                    <p>§. I. Compra fatta dall’Imp. Lodovico in Roma, e lasciata</p>
                    <p>ad un luogo Pio del Contado di Penne. A. di Cr. 868. p. 37</p>
                    <p>§. II. A. di Cr. 869. p. 38</p>
                    <p>§. III. Lodovico prosiegue la fabbrica di Casauria. A. di Cr. 873. p. 38</p>
                    <p>§. III. Sisenando vien condannato per avere sposata una donna velata. p. 39</p>
                    <p>§. IV. Patrimonio Teatino addetto al Palazzo Lateranense. A. di Cr. 877. p. 41</p>
                    <p>§. V. Volturno, Marsi, e Valvensi saccheggiati da’ Saraceni. A. di Cr. 881. p. 41</p>
                    <p>§. VI. Si fortificano le Ville con i Castelli. A. di Cr. 882. p. 42</p>
                    <p>§. VII. I Vescovi Teatino, e Aprutino intervengono alla Consegrazione</p>
                    <p>d’una Chiesa nel Fermano. A. di Cr. 886. p. 43</p>
                    <p>§. VIII. Descrizione di Valva, e di Corfinio. A. di Cr. 886. p. 45</p>

                    <p>CAP. IV. L’Imperadore Ottone fa trasportar in Germania alcuni Corpi de’ Santi. p. 47</p>
                    <p>A. di Cr. 970. p. 47</p>
                    <p>A. di Cr. 978. p. 53</p><p>§. I. Ottone II. edifica una Casa Reale ne’ Marsi. A. di Cri. 981. p. 54</p>
                    <p>§. II. Imprese dei Conti Teatino, e Marso. A. di Cr. 993. p. 55</p>
                    <p>§. III. Vescovi Aprutini, e Forconensi perchè non si trovino sottoscritti</p>
                    <p>ne’ Concilj Romani fin al Secolo XI. A. di Cr. 1037. p. 56</p>
                    <p>§. IV. Borello oriundo di Valva. A. di Cr. 1040. p. 56</p>
                    <p>§. V. Origine de’ Cognomi. A. di Cr. 1050. p. 57</p>
                    <p>§. VI. Leone IX. va con Esercito contro i Normanni, e viene ajutato dai Marsi, Valvensi, e Teatini. A. di Cr. 1053.  p. 57</p>

                    <p>§. VII. Il Papa dà a’ Normanni l’investitura, con titolo di Ducato,</p>
                    <p>dei Feudi di Calabria, e di Puglia. A. di Cri. 1059. p. 58</p>
                    <p>§. VIII. A. 1060. p. 59</p>
                    <p>§. IX. I Normanni conquistano il Contado Teatino. A. di Cri. 1061. p. 59</p>
                    <p>§. X. Urbano II. conferma alcuni beni alla Chiesa di Chieti. A. di Cri. 1097. p. 60</p>
                    <p>§. XI. A. di Cri. 1100. p. 61</p>

                    <p>CAP. V. Dell’Antica estensione del Contado Teatino, e di Termoli. p. 63</p>
                    <p>A. di Cri. 1137. p. 63</p>
                    <p>§. I. Provincie conquistate dal Re Ruggieri, nelle quali mandò i Giustizieri. A. di Cr. 1140.  p. 64</p>
                    <p>§. II. I Figliuoli di Ruggieri s’impadroniscono del Contado de’ Marsi. A. di Cr. 1143.  p. 67</p>
                    <p>§. III. Ruggieri restaura il Porto di Pescara. A. di Cr. 1145. p. 68</p>
                    <p>§. IV. Il Re Ruggieri fa il registro de’ Feudatarj, e Suffeudatarj. A. di Cr. 1148.  p. 69</p>
                    <p>§. V. Roberto di Bassavilla o sia Tuttavilla vien posto nel possesso del Contado di Loritello,</p>
                    <p>di Teute, e di Valva. A. di Cr. 1154. p. 70</p><p>§. VI. Il Conte di Loritello si ribella al Re Guglielmo. A. di Cr. 1155.  p. 71</p>
                    <p>§. VII. Il Re Guglielmo conchiude la pace con il Papa, e gastiga i Conti di Manoppello, con altri. A. di Cr. 1159.  p. 72</p>
                    <p>§. VIII. Il Conte di Loritello perturba di nuovo la pace del Regno. A. di Cr. 1157.  p. 75</p>
                    <p>§. IX. A. di Cr. 1161. p. 76</p>
                    <p>§. X. I Vescovi di Valva, de’ Marsi, di Guardia Alferia con altri intervengono</p>
                    <p>al Concilio Lateranense. A. di Cr. 1179. p. 76</p>
                    <p>§. XI. Tassa de’ Soldati per la spedizione di Terra Santa, fatta a’ Feudatarj, e ai Vescovi.  p. 77</p>
                    <p>§. XII. Presa della Rocca d’Arci. Tancredi assuggetta i Ribelli. A. di Cr. 1191. p. 81</p>
                    <p>§. XIII. Del dominio preteso da’ Veneziani sul Mare Adriatico. p. 82</p>
                    <p>§. XIV. Nuove rivoluzioni tra seguaci di Tancredi, e di Arrigo, Descrizione delle Provincie della Chiesa Romana. An di Cr. 1192.  p. 82</p>
                    <p>§. XV. L’Imperador Errico stabilisce la Bagliva in Ortona. An. di Cr. 1196. p. 84</p>
                    <p>§. XVI. Confini del Regno, e della Chiesa. A. di Cr. 1198. p. 85</p>
                    <p>§. XVII. Ordinazioni d’Innocenzo III. contro Marcoaldo,</p>
                    <p>e di lui fiducia nel Conte Teatino. An. di Cr. 1199. p. 86</p>
                    <p>§. XVIII. Il Conte di Chieti confederato del Conte di Brenna. An. di Cr. 1200.  p. 87</p>
                    <p>§. XIX. Il Conte di Celano vien costituito Gran Giustiziere di Puglia, e Terra di Lavoro. Confini dello Stato Ecclesiastico. An. di Cr. 1208.  p. 88</p>
                    <p>§. XX. Danni cagionati dall’Imperadore Ottone nell’Abruzzo. A. di Cr. 1209. p. 90</p>
                    <p>§. XXI. Lettera di Federico a favore dell’Abbate di San Clemente. p. 90</p>
                    <p>§. XXII. Il Conte di Celano resta vinto dagli Imperiali. A. di Cr. 1221. p. 91</p>
                    <p>§. XXIII. Il Conte di Celano viene vinto di nuovo dagl’Imperiali. An. di Cr. 1222. p. 92</p>
                    <p>§. XXIV. Il Conte di Celano per convenzione con l’Imperadore esce dal Regno,</p>
                    <p>cede il suo Contado, e Celano resta incendiato. An. di Cr. 1223. p. 93</p>
                    <p>§. XXV. I Signori di Poppleto vengono abbassati dagl’Imperiali. An. di Cr. 1228. p. 94</p>
                    <p>§. XXVI. Teramo in Terra di Lavoro vien dato alle fiamme. A. di Cr. 1229.  p. 95</p>
                    <p>§. XXVII. Cessione della Badia di S. Quirico in Introdoco fatta dall’Imperadore.</p>
                    <p>Origine delle Incastellazioni. An. di Cr. 1230. p. 97</p>
                    <p>§. XXVIII. Vien devastato il Contorno d’Introdoco, e la Serra sopra Celano. An. di Cr. 1231.  p. 99 An. di Cr. 1232.  p. 99</p>
                    <p>An. di Cr. 1233. p. 99</p>

                    <p>CAP. VI. Istituzione delle Curie Generali nelle Provincie. An. di Cr. 1233. p. 100</p>
                    <p>§. I. Stabilimento delle Fiere in sette Luoghi del Regno. An. di Cr. 1234. p. 102</p>
                    <p>§. II. Il Giustiziere d’Abruzzo ha parte nella guerra di Lombardia.</p>
                    <p>Nomi di varj Baroni del Regno. An. di Cr. 1238.  p. 102 An. di Cr. 1240.  p. 105</p>
                    <p>L’Imperadore dimora in Avezano. An. di Cri. 1242. p. 105</p>
                    <p>§. III. Pietro Capocci, forse di Atri, è creato Cardinale. An. di Cr. 1244. p. 106</p>
                    <p>§. IV. Descrizione delle Chiese soggette a Roma. An. di Cr. 1245.  p. 107 Guglielmo d’Ocre succede a Pietro delle Vigne. An. di Cri. 1246.  p. 108 An. di Cri. 1247.  p. 108</p>
                    <p>Gualtieri d’Ocre è riguardato, e beneficato dall’Imperadore. An. di Cri. 1249. p. 108</p>
                    <p>§. V. Morte di Federico Imperadore. An. di Cr. 1250. p. 109</p>
                    <p>§. VI. Della varia sorte dei due Figli del Conte d’Abruzzo, e degli Adriani</p>
                    <p>aderenti al Papa. An. di Cr. 1253. p. 110</p>
                    <p>§. VII. Gualtieri d’Ocre siegue ad essere Cancelliere del Regno.</p>
                    <p>Borello è ucciso da Manfredi. A. di Cr. 1254.  p. 112 An. di Cri. 1256. p. 119</p>
                    <p>§. VIII. I Baroni delle Terre nel Contado Aquilano fanno rappresentanze a Manfredi</p>
                    <p>per la distruzione della nuova Città dell’Aquila. An. di Cri. 1257. p. 119</p>
                    <p>§. IX. Manfredi assume la Corona di Re di Sicilia. An. di Cri. 1258. p. 121</p>
                    <p>§. X. Crociata contro il Re Manfredi. An. di Cri. 1265. p. 122</p>
                    <p>CAP. VII. Battaglia tra il Rè Carlo d’Angio, e Manfredi. An. di Cri. 1266. p. 124</p>
                    <p>§. I. Il Re Carlo istituisce nuovi Magistrati nelle Provincie. An. di Cr. 1267. 129</p>
                    <p>§. II. Battaglia tra Corradino, e il Re Carlo ne’ Marsi. A. di Cr. 1268.  p. 129</p>
                    <p>§. III. Varie concessioni fatte dal Re Carlo. An. di Cr. 1269. p. 147</p>
                    <p>§. IV. L’Abruzzo si divide in due Provincie. An. di Cr. 1270. p. 150</p>
                    <p>§. V. De’ Cistercensi Francesi che doveano venir ad ufficiare</p>
                    <p>nel Monistero di S. Maria della Vittoria. An. di Cr. 1277. p. 151</p>
                    <p>§. VI. Si accorda ampla facoltà dal Re Carlo a F. Bartolomeo dell’Aquila</p>
                    <p>Inquisitore nel Regno. An. di Cri. 1278. p. 153</p>
                    <p>§. VII. Intimazione, e tassa fatta dal Re Carlo a tutti i Feudatari. Anni di Cr. 1279.  p. 154</p>
                    <p>§. VIII. Leggi pubblicate dal Re Carlo pei Custodi de’ Passi, e delle Grasce. An. di Cr. 1282.  p. 189 Anni di Cr. 1283.  p. 189</p>
                    <p>§. IX. Denominazione della Provincia d’Abruzzo, e del Regno di Napoli.</p>
                    <p>Morte del Re Carlo. Anni di Cr. 1285. p. 190</p>
                    <p>§. X. Turbolenze cagionate ne’ contorni di Teramo da Gualtieri. Anni di Cr. 1286. p. 193</p>
                    <p>§. XI. Il Re Carlo II. ratifica la Donazione fatta al Padre alla Basilica di S. Pietro. Anni di Cr. 1287.  p. 195 Anni di Cr. 1288.  p. 195</p>
                    <p>Anni di Cr. 1289. p. 195</p>
                    <p>§. XII. Censi della Chiesa Romana in Abruzzo. An. di Cr. 1290.  p. 196 An. di Cr. 1291.  p. 196</p>
                    <p>An. di Cr. 1294. p. 197</p>
                    <p>§. XIII. Il Re Carlo erigge due Canonicati nella Basilica di San Pietro. An. di Cr. 1295.  p. 197 An. di Cri. 1297. p. 199</p>
                    <p>An. di Cri. 1298. p. 199</p>
                    <p>§. XIV. Il Re Carlo II. ordina di punirs’i Malfattori in Abruzzo. An. di Cri. 1300.  p. 200 An. di Cri. 1302.  p. 201</p>
                    <p>An. di Cri. 1304. p. 201</p>
                    <p>An. di Cri. 1305. p. 201</p>
                    <p>An. di Cri. 1306. p. 201</p>
                    <p>§. XV. Il Vescovo Aquilano è chiamato al Concilio in Vienna. An. di Cr. 1307.  p. 202 An. di Cr. 1308.  p. 203</p>
                    <p>§. XVI. Morte del Re Carlo II. An. di Cr. 1309.  p. 204</p>
                    <p>§. XVII. Insulto fatto al Re Roberto. A. di Cr. 1310.  p. 205 An. di Cr. 1311.  p. 205</p>
                    <p>An. di Cr. 1313. p. 206</p>
                    <p>§. XVIII. Registro d’alcuni Feudi. An. di Cr. 1316.  p. 206 An. di Cri. 1317.  p. 207</p>
                    <p>An. di Cr. 1324. p. 207</p>
                    <p>An. di Cr. 1325. p. 207</p>
                    <p>An. di Cr. 1326. p. 207</p>
                    <p>§. XIX. Precauzioni del Re Roberto. An. di Cri. 1327. p. 208</p>
                    <p>§. XX. De’ varj Provedimenti nell’Aquila del Duca di Calabria; e di lui morte. An. di Cr. 1328.  p. 208</p>
                    <p>§. XXI. Della Famiglia di Letto, e di Acquaviva. Anni di Cr. 1329. p. 212</p>
                    <p>Anni di Cristo 1331. p. 213</p>
                    <p>Anni di Cristo 1332. p. 213</p>
                    <p>An. di Cri. 1333. p. 214</p>
                    <p>An. di Cr. 1334. p. 214</p>
                    <p>An. di Cr. 1335. p. 214</p>
                    <p>An. di Cr. 1337. p. 214</p>
                    <p>Ann. di Cr. 1338. p. 215</p>
                    <p>An. di Cr. 1340. p. 215</p>
                    <p>§. XXII. Origine de’ Consolati. An. di Cr. 1342. p. 215</p>
                    <p>§. XXIII. Maria Nipote di Roberto resta erede nel Contado di Alba. An. di Cr. 1343.  p. 216 An. di Cr. 1344.  p. 217</p>
                    <p>An. di Cr. 1345. p. 218</p>
                    <p>§. XXIV. Dissenzioni fra i due Principi, Luigi, e Carlo Duca di Durazzo. Anni di Cristo 1346.  p. 219</p>
                    <p>§. XXV. Continuano le guerre trai Principi Reali, le quali cagionano gravi danni</p>
                    <p>alla Città dell’Aquila, al Contado, e ad altri luoghi. An. di Cr. 1347. p. 221</p>
                    <p>§. XXVI. Entrata del Re Lodovico in Napoli. Partenza della Regina Giovanna:</p>
                    <p>Morte di Carlo di Durazzo. Anni di Cr. 1348. p. 235</p>

                    <p>CAP. VIII. Delle mutazioni accadute nel Regno.</p>
                    <p>Camponesco si adatta alle circostanze del tempo. An. di Cr. 1350. p. 247</p>
                    <p>§. I. Il Re Luigi fa varj tentativi nell’Abruzzo. An. di Cr. 1351. p. 249</p>
                    <p>§. II. Coronazione del Re Luigi, il quale accorda a tutti il perdono, e specialmente agli Aquilani. An. di Cr. 1352.  p. 255</p>
                    <p>§. III. Ritorno del Camponeschi nell’Aquila. An. di Cr. 1353. p. 260</p>
                    <p>§. IV. Danni cagionati dalle Compagnie de’ Scorridori. Morte del Camponeschi.</p>
                    <p>Turbolenze della Città dell’Aquila. An. di Cr. 1354. p. 260</p>
                    <p>§. V. Elezione dei sessantotto per governare la Città dell’Aquila. p. 267</p>
                    <p>§. VI. S’impetra privilegio di poter la Città crear il Magistrato de’ Capi d’Arti. p. 270</p>
                    <p>§. VII. L’Aquila con il Reame è suggettata ad Interdetto.</p>
                    <p>Compagnia di Scorridori danneggia l’Abruzzo, ed altri luoghi. An. di Cr. 1355. p. 275</p>
                    <p>§. VIII. Testamento di Tommaso Caracciolo, Giustiziere in Abruzzo.</p>
                    <p>Morte di Pipino, detto Paladino d’Altamura. An. di Cr. 1357. p. 280</p>
                    <p>§. IX. Nell’Aquila si fanno preparativi per ricevere il Re Luigi,</p>
                    <p>cui si accorda esorbitante assegnamento. An. di Cr. 1358. p. 286</p>
                    <p>§. X. Spese fatte nell’Aquila per timore della Compagnia de’ Scorridori. An. di Cr. 1359. p. 288</p>
                    <p>§. XI. Provedimenti della Città dell’Aquila per opporsi alla Compagnia de’ Scorridori. An. di Cr. 1360.  p. 291</p>
                    <p>§. XII. Le Compagnie de’ Scorridori continuano a danneggiare l’Abruzzo.  An. di Cri. 1361.  p. 294</p>
                    <p>§. XIII. Si riacquista la quiete nel Regno. Morte del Re Luigi, e di Lodovico Duca di Durazzo. An. di Cr. 1362.  p. 301</p>
                    <p>§. XIV. Morti cagionate dalla Peste. An. di Cri. 1363. p. 303</p>
                    <p>§. XV. Raccolta della sovvenzione generale, e delle decime su degli Ecclesiastici. An. di Cri. 1364.  p. 304</p>
                    <p>§. XVI. An. di Cri. 1366. p. 305</p>
                    <p>§. XVII. Nuove inquietudini cagionate dai scorridori in Abruzzo, e nel Regno. An. di Cri. 1367.  p. 306 An. di Cri. 1368.  p. 307</p>
                    <p>§. XVIII. An. di Cr. 1370.  p. 307 An. di Cr. 1371. p. 308</p>
                    <p>An. di Cr. 1372. p. 308</p>
                    <p>§. XIX. Il Conte di Montorio si fa merito con la Regina Giovanna. An. di Cr. 1373.  p. 308</p>
                    <p>§. XX. Al Duca d’Andria vengono tolti i Feudi. An. di Cr. 1374. p. 309</p>
                    <p>§. XXI. Vari disturbi accaduti per motivo de’ Governadori. An. di Cr. 1376  p. 310 Indice p. 313</p>

                    <p>Sommario Tomo III</p>

                    <p>CAPITOLO I. Delle disposizioni date in Roma da Gregorio XI. An. di Cr. 1377. p. 1</p>
                    <p>§. I. Sollevazioni cagionate da’ Fazionarj de’ due Pontefici Eletti, e da Francesco Antonio de’ Pretatti. An. di Cr. 1378.  p. 2</p>
                    <p>§. II. Turbolenze eccitate nell’Aquila, ed altrove</p><p>a cagione dell’Antipapa Clemente VII. An. di Cri. 1379. p. 16</p>
                    <p>§. III. Continuavano le dissenzioni tra ’l Papa Urbano, e la Regina Giovanna. An. di Cri: 1380.  p. 39</p>
                    <p>§. IV. Cangiamenti accaduti per l’investitura del Regno data dal Papa</p>
                    <p>a Carlo di Durazzo. Prigionia e morte del Pretatti. An. di Cr. 1381. p. 53</p>
                    <p>§. V. An. di Cr. 1382. p. 83</p>
                    <p>§. VI. Di Lalle Camponesco, e della di lui morte. Del Testamento del Re Luigi. An. di Cri. 1383.  p. 93</p>
                    <p>§. VII. Della morte di Luigi I., e dell’acclamazione del Re Luigi II. fatta nell’Aquila per opera de’ Camponeschi. An. di Cri. 1384.  p. 97</p>
                    <p>§. VIII. Disgusti tra ’l Papa Urbano, e ’l Re Carlo. An. di Cri. 1385.  p. 99</p>
                    <p>§. IX. Delle Fazioni eccitate in Regno per la morte del Re Carlo. An. di Cr. 1387.  p. 100</p>
                    <p>§. X. De Privilegj accordati a Cassinensi. An. di Cri. 1388. p. 102</p>
                    <p>§. XI. Di Bonifacio IX., e delle di lui Lettere a Teramo, ed a Sulmona. An. di Cri. 1389. p. 102</p>
                    <p>§. XII. Di Ladislao, e di Luigi II., investiti del Regno, uno dal Papa Bonifacio,</p>
                    <p>e l’altro dall’Antipapa Clemente. An. di Cri. 1390. p. 105</p>
                    <p>§. XIII. Di Cecco del Cozzo, detto del Borgo, Marchese di Pescara. An. di Cri. 1391.  p. 106</p>
                    <p>§. XIV. Di Ladislao, e de’ suoi Capitani. An. di Cri. 1392.  p. 108 An. di Cri. 1393.  p. 110</p>
                    <p>An. di Cri. 1394. p. 110</p>
                    <p>An. di Cri. 1395. p. 110</p>
                    <p>An. di Cri. 1398. p. 111</p>
                    <p>§. XV. Delle Decime imposte da Bonifacio Papa sul Clero. E della Compagnia de’ Bianchi. An. di Cr. 1399.  p. 111 An. di Cri. 1400.  p. 115</p>
                    <p>§. XVI. An. di Cri. 1401. p. 115</p>
                    <p>§. XVII. Di Antonuccio Camponeschi. An. di Cri. 1403. p. 115</p>
                    <p>§. XVIII. Di varie cose fatte da Ladislao; e dell’elezione di Papa Innocenzio VII. An. di Cri. 1404.  p. 115</p>
                    <p>§. IX. (<i>sic</i>) Della creazione de’ Cardinali, e delle sollevazioni eccitate in Roma da Ladislao,</p>
                    <p>e da altri: Editto del medesimo per gli Ufficiali delle Provincie. An. di Cri. 1405. p. 121</p>
                    <p>§. XX. Del ritorno in Roma d’Innocenzio VII., e della di lui morte. An. di Cri. 1406.  p. 128</p>
                    <p>§. XXI. Nuovi tentativi fatti dal Cardinal Migliorati con di lui svantaggio, e con onore di Braccio. An. di Cri. 1407.  p. 134</p>
                    <p>§. XXII. Il Re Ladislao ottiene il dominio di Roma. An. di Cri. 1408. p. 145</p>
                    <p>§. XXIII. Della varia sorte dell’esercito del Re Ladislao.</p>
                    <p>Dell’elezione fatta del terzo Papa Alesandro V. An. di Cri. 1409. p. 149</p>
                    <p>§. XXIV. Della venuta in Regno di Luigi II. d’Angiò. E dell’elezione di Giovanni XXIII. An. di Cri. 1410.  p. 156</p>
                    <p>§. XXV. Ladislao sconfitto in battaglia da Luigi di Angiò, si salva colla fuga. Ritorno di Luigi in Francia. An. di Cri. 1411.  p. 158</p>
                    <p>§. XXVI. Il Re Ladislao ordina al Vescovo, e Città dell’Aquila,</p>
                    <p>che riconoscano Giovanni XXIII. per vero Papa. An. di Cri. 1412. p. 160</p>
                    <p>§. XXVII. Ordini e mosse di Papa Giovanni XXIII., e del Re Ladislao. An. di Cri. 1413.  p. 163</p>
                    <p>§. XXVIII. Ultimi fatti del Re Ladislao. An. di Cri, 1414. p. 167</p>

                    <p>CAP. II. p. 425</p>
                    <p>§. I. Regno di Giovanna Seconda. p. 168</p>
                    <p>§. II. Della Regina Giovanna II., e di Lodovico Migliorati. An. di Cr. 1415. p. 169</p>
                    <p>§. III. Lodovico Migliorati riacquista varj luoghi del suo Stato. An. di Cri. 1416. p. 171</p>
                    <p>§. IV. Varie azioni tra Sforza, ed altri Capitani. Elezione di Papa Martino V. An. di Cri. 1417.  p. 173</p>
                    <p>§. V. Varie mutazioni della Regina Giovanna. Occupazioni fatte da Braccio nello Stato della Chiesa. An. di Cri. 1418.  p. 177</p>
                    <p>§. VI. Di varie azioni di Braccio. An. di Cri. 1419. p. 178</p>
                    <p>§. VII. Rivoluzioni cagionate da Sforza, e dal Conte di Carrara. An. di Cri. 1420. p. 181</p>
                    <p>§. VIII. Conquiste di Braccio per la Regina Giovanna. An. di Cri. 1421. p. 185</p>
                    <p>§. IX. An. di Cri. 1422. p. 188</p>
                    <p>§. X. Gli Aquilani si mantengono fedeli alla Regina Giovanna: Si dichiarano contrarj a Braccio da cui sono molto travagliati con lungo assedio. An. di Cri. 1423.  p. 190</p>
                    <p>§. XI. Continuazione della guerra di Braccio, e della di lui morte. An. di Cri. 1424.  p. 234</p>
                    <p>§. XII. An. di Cri. 1425. p. 334</p>
                    <p>§. XIII. An. di Cri. 1427. p. 335</p>
                    <p>§. XIV. An. di Cri. 1428. p. 336</p>
                    <p>§. XV. An. di Cri. 1431. p. 337</p>
                    <p>§. XVI. An. di Cri. 1432. p. 338</p>
                    <p>§. XVII. An. di Cri. 1433. p. 339</p>
                    <p>§. XVIII. Varie imprese del Caldora. An. di Cri. 1434. p. 340</p>
                    <p>§. XIX. Turbulenze per la morte della Regina Giovanna. An. di Cri. 1435. p. 343</p>
                    <p>§. XX. An. di Cri. 1436. p. 347</p>
                    <p>§. XXI. Divisioni, e danni cagionati dai due Partiti de’ Re, Alfonso, e Renato. An. di Cri. 1437.  p. 355</p>
                    <p>§. XXII. Continuano le ostilità tra i due Re. An. di Cri. 1438. p. 362</p>
                    <p>§. XXIII. An. di Cri. 1439. p. 370</p>
                    <p>§. XXIV. Il Caldora abbandona il partito di Renato. An. di Cri. 1440. p. 373</p>
                    <p>§. XXV. Il Re Alfonso resta padrone del Regno. An. di Cri. 1441. p. 381</p>
                    <p>§. XXVI. L’Esercito di Alfonso rimane vittorioso: s’impadronisce anche dell’Aquila,</p>
                    <p>cui accorda molte grazie, e privilegj. An. di Cri. 1442. p. 384</p>
                    <p>§. XXVII. Di varie operazioni del Re Alfonso. An. di Cri. 1443. p. 397</p>
                    <p>§. XXVIII. Alfonso accorda indulto generale, e manda sue genti in ajuto del Papa. An. di Cri. 1444.  p. 403</p>
                    <p>§. XXIX. An. di Cri. 1445. p. 404</p>
                    <p>§. XXX. An. di Cri. 1446. p. 404</p>
                    <p>§. XXXI. An. di Cri. 1447. p. 405</p>
                    <p>§. XXXII. An. di Cri. 1448. p. 408</p>
                    <p>§. XXXIII. An. di Cri. 1449. p. 409</p>
                    <p>§. XXXIV. An. di Cri. 1450. p. 409</p>
                    <p>§. XXXV. Coronazione dell’Imperatore Federico, e di lui vita in Napoli. An. di Cri. 1452. p. 410</p>
                    <p>§. XXXVI. Nuova mossa da Renato. Morte del Capitano Gentile da Leonessa. An. di Cri. 1453.  p. 411</p>
                    <p>§. XXXVII. An. di Cri. 1454. p. 414</p>
                    <p>§. XXXVIII. An. di Cr. 1455. p. 415</p>
                    <p>§. XXXIX. An. di Cri. 1456. p. 415</p>
                    <p>§. XL. An. di Cri. 1457. p. 416</p>
                    <p>§. XLI. Il Re Ferrante succede nel Regno al di lui Padre Alfonso. An. di Cri. 1458.  p. 416</p>
                    <p>§. XLII. Molti Baroni si ribellano a Ferdinando, e abbracciano il partito Angioino. An. di Cr. 1459.  p. 418</p>
                    <p>§. XLIII. La Città dell’Aquila con altri Luoghi della Provincia prende il partito Angioino. An. di Cri. 1460.  p. 427</p>
                    <p>§. XLIV. Il partito del Re Ferdinando prende di nuovo vigore nel Regno. An. di Cri. 1461.  p. 440</p>
                    <p>§. XLV. Resa della Cittadella di Teramo: e nuove Conquiste del Re Ferdinando. An. di Cri. 1462.  p. 454</p>
                    <p>§. XLVI. Ferdinando resta Padrone di tutto il Regno. An. di Cri. 1463. p. 463</p>
                    <p>§. XLVII. An. di Cri. 1464. p. 475</p>
                    <p>§. XLVIII. Gastigo del Piccinino, e del Caldora. An. di Cr. 1465. p. 478</p>
                    <p>§. XLIX. S’introduce in Roma la Stampa. An. di Cr. 1466. p. 479</p>
                    <p>§. L. An. di Cr. 1467.  p. 480 An. di Cr. 1468.  p. 480</p>
                    <p>An. di Cr. 1469. p. 481</p>
                    <p>An. di Cr. 1470. p. 481</p>
                    <p>An. di Cr. 1471. p. 481</p>
                    <p>An. di Cri. 1472. p. 482</p>
                    <p>An. di Cri. 1475. p. 483</p>
                    <p>An. di Cri. 1477. p. 483</p>
                    <p>An. di Cri. 1478. p. 485</p>
                    <p>Indice p. 487</p>

                    <p>Sommario Tomo IV</p>

                    <p>CAPITOLO I. Continuazione dell’Istoria generale delle Provincie. An. di Cr. 1480. p. 1</p>
                    <p>§. I. An. di Cr. 1481. p. 2</p>
                    <p>§. II. An. di Cr. 1482. p. 4</p>
                    <p>§. III. An. di Cr. 1483. p.10</p>
                    <p>§. IV. An. di Cr. 1484. p. 14</p>
                    <p>§. V. Turbolenza cagionata da varj Baroni del Regno. An. di Cri. 1485. p. 19</p>
                    <p>§. VI. Delle varie turbolenze, e fazioni, che inquietano l’Abruzzo,</p>
                    <p>e terminate con la pace tra ’l Pontefice e ’l Re Ferdinando. An. di Cr. 1486.  p. 50</p>
                    <p>§. VII. An. di Cri. 1487. p. 79</p>
                    <p>§. VIII. De’ maneggi per pacificare Rieti con Città Ducale. An. di Cri. 1488. p. 82</p>
                    <p>§. IX. An. di Cr. 1491. p. 84</p>
                    <p>§. X. An. di Cri. 1492. p. 84</p>
                    <p>§. XI. An. di Cri. 1493. p. 85</p>
                    <p>§. XII. Di Alfonso II. Re di Napoli. An. di Cri. 1494. p. 85</p>
                    <p>§. XIII. Di Carlo VIII. An. di Cri. 1495. p. 88</p>
                    <p>§. XIV. Di Federico Successore del Re Ferdinando Secondo. An. di Cri. 1496. p. 109</p>
                    <p>§. XV. An. di Cri. 1497. p. 127</p>
                    <p>§. XVI. An. di Cri. 1498. p. 127</p>
                    <p>An. di Crist. 1499. p. 128</p>
                    <p>§. XVII. Trattato fra ’l Re di Francia e di Castiglia, per spogliare Federico</p>
                    <p>del Regno di Napoli. An. di Cri. 1500. p. 128</p>
                    <p>§. XVIII. Del Re Federico, e del Re Luigi di Francia I. p. 130</p>
                    <p>§. XIX. Controversie tra’ due re di Francia, e di Spagna. An. di Cri. 1502. p. 139</p>
                    <p>§. XX. Del Re Ferdinando il Cattolico. An. di Cri. 1503. p. 141</p>
                    <p>§. XXI. An. di Cri. 1504. p. 149</p>
                    <p>§. XXII. Pel Matrimonio del Re Ferdinando. An. di Cri. 1505. p. 150</p>
                    <p>§. XXIII. An. di Cri. 1506. p. 151</p>
                    <p>§. XXIV. An. di Cri. 1508. p. 151</p>
                    <p>§. XXV. An. di Cri. 1510. p. 152</p>
                    <p>§. XXVI. An. di Cri. 1511. p. 154</p>
                    <p>§. XXVII. An. di Cri. 1512. p. 154</p>
                    <p>§. XXVIII. An. 1513. p. 157</p>
                    <p>§. XXIX. An. di Cri. 1514. p. 158</p>
                    <p>§. XXX. An. di Cri. 1515. p. 158</p>
                    <p>§. XXXI. Della morte del Re Ferdinando. An. di Cri. 1516. p. 159</p>
                    <p>§. XXXII. An. di Cri. 1417. &lt;1517&gt; p. 160</p>
                    <p>§. XXXIII. An. di Cri. 1519. p. 160</p>
                    <p>An. di Cri. 1520. p. 162</p>
                    <p>An. di Cr. 1521. p. 163</p>
                    <p>An. di Cr. 1522. p. 164</p>
                    <p>§. XXXIV. An. di Cri. 1523. p. 164</p>
                    <p>§. XXXV. An. di Cri. 1524. p. 164</p>
                    <p>§. XXXVI. Della venuta in Regno della Truppa Francese. An. di Cri. 1525.  p. 165 An. di Cri. 1527.  p. 167</p>
                    <p>An. di Cri. 1530. p. 172</p>
                    <p>§. XXXVII. An. di Cri. 1534. p. 174</p>
                    <p>§. XXXVIII. Carlo V. entra Vittorioso in Tunisi. An. di Cri. 1535. p. 175</p>
                    <p>§. XXXIX. An. di Cr. 1536. p. 176</p>
                    <p>§. XL. Delle mutazioni nel Ducato di Firenze. An. di Cri. 1537. p. 178</p>
                    <p>§. XLI. Del matrimonio di Ottavio Farnese con Margherita d’Austria. An. di Cri. 1538. p. 180</p>
                    <p>§. XLII. An. di Cri. 1541. p. 181</p>
                    <p>§. XLIII. An. di Cri. 1543. p. 182</p>
                    <p>§. XLIV. An. di Cri. 1544. p. 184</p>

                    <table style="border-collapse:collapse;margin-left:5.14pt" cellspacing="0"><tr style="height:13pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 1text-align: center;">An. di Cri. 1545.</p></td><td style="width:36pt"><p class="s3" style="line-height: 1">p. 185</p></td></tr><tr style="height:15pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 13pt;text-align: center;">An. di Cri. 1546.</p></td><td style="width:36pt"><p class="s3" style="line-height: 13pt;">p. 185</p></td></tr><tr style="height:15pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 13pt;text-align: center;">An. di Cri. 1547.</p></td><td style="width:36pt"><p class="s3" style="line-height: 13pt;">p. 186</p></td></tr><tr style="height:15pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 13pt;text-align: center;">An. di Cri. 1550.</p></td><td style="width:36pt"><p class="s3" style="line-height: 13pt;">p. 186</p></td></tr><tr style="height:15pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 13pt;text-align: center;">An. di Cri. 1552.</p></td><td style="width:36pt"><p class="s3" style="line-height: 13pt;">p. 186</p></td></tr><tr style="height:15pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 13pt;text-align: center;">An. di Cri. 1553.</p></td><td style="width:36pt"><p class="s3" style="line-height: 13pt;">p. 186</p></td></tr><tr style="height:13pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 1text-align: center;">An. di Cri. 1554.</p></td><td style="width:36pt"><p class="s3" style="line-height: 1">p. 186</p></td></tr></table><p>§. XLV. Del Papa Paolo IV., e di Antonio Epicuro. An. di Cri. 1555. p. 188</p><p>§. XLVI. Disturbi tra ’l Papa, e ’l Re di Napoli. An. di Cri. 1556.  p. 192</p><p>§. XLVII. Di varj Combattimenti tra li due Eserciti Spagnuolo, e Francese: o sia della Guerra del Tronto. An. di Cri. 1557.  p. 200</p><p>An. di Cri. 1558. p. 241</p><p style=" line-height: 107%;">§. XLIX. Della morte di Paolo IV., e della descrizione delle Provincie d’Abruzzo d’Alessandro d’Andrea. An. di Cri. 1559.  p. 242</p><p>An. di Cri. 1560. p. 249</p><p>§. L. Della processura contro i Nipoti di Paolo IV. An. di Cri. 1561. p. 249</p><p>§. LI. Del Concilio di Trento. An. di Cri. 1562. p. 250</p><p style=" line-height: 108%;">§. LII. Del proseguimento, e fine del Concilio di Trento. An. di Cri. 1563.  p. 251 An. di Cri. 1564.  p. 258</p><p>§. LIII. D’una scorreria de’ Turchi in Abruzzo. An. di Cri. 1566.  p. 259 An. di Cri. 1568.  p. 264</p><p>§. LIV. Di varj Feudatarj d’Abruzzo Napoletani. An. di Cri. 264.</p><p>An. di Cri. 1570. p. 265</p><p style=" line-height: 108%;">§. LV. Imbarco contro de’ Turchi.  p. 266 An. di Cri. 1571. p. 266</p><p>An. di Cri. 1572. p. 267</p><p>§. LVI. Decamerone del Boccaccio raccomandato al Cirillo</p><p style=" line-height: 108%;">per impedire in Roma la proibizione. An. di Cri. 1573.  p. 267 An. di Cri. 1574.  p. 269</p><p>An. di Cri. 1578. p. 269</p><p>An. di Cri. 1581. p. 269</p><p>Anni di Cri. 1582. p. 270</p><p>An. di Cri. 1584. p. 270</p><p>An. di Cri. 1586. p. 270</p><p>An. di Cri. 1587. p. 272</p><p>An. di Cri. 1588. p. 272</p><p>An. di Cri. 1590. p. 273</p><p>An. di Cri. 1591. p. 273</p><p>An. di Cri. 1592. p. 273</p><p>An. di Cri. 1595. p. 273</p><p>An. di Cri. 1597. p. 274</p><p>An. di Cri. 1599. p. 275</p><p>An. di Cri. 1620. p. 275</p><p>An. di Cri. 1621. p. 276</p><p>An. di Cri. 1622. p. 276</p><p>§. LVII. Di Giovanni Argoli Poeta. An. di Cri. 1626. p. 276</p><p>§. LVIII. Paesi danneggiati dal Tremuoto. An. di Cri. 1627. p. 277</p><p>Passaggio per l’Abruzzo di Maria d’Austria. An. di Cri. 1630. p. 278</p><p>§. LIX. Della dotta Apologia del Guadagnoli. An. di Cri. 1631. p. 279</p><p style=" line-height: 107%;">§. LX. Di Andrea Argoli celebre Matematico. An. di Cri. 1632.  p. 283 An. di Cri. 1633.  p. 285</p><p>An. di Cri. 1637. p. 285</p><p>An. di Cri. 1641. p. 286</p><p>§. LXI. Si ordina nuova leva di soldati nelle Provincie. E si stabilisce il Preside,</p><p style=" line-height: 108%;">e l’Udienza nella Città dell’Aquila. p. 286 An. di Cri. 1644. p. 291</p><p>§. LXII. Chieti da Regia addiviene Baronale. Si spedisce Truppa in Orbitello. An. di Cri. 1646.  p. 291</p><p>§. LXIII. De’ tumulti eccitati in Napoli, e in varj luoghi degli Abruzzi. An. di Cri. 1647.  p. 298</p><p>§. LXIV. Continuano le rivoluzioni degli Abruzzi. An. di Cri. 1648. p. 338</p><p>§. LXV. Il Pezzola è ricompensato. An. di Cri. 1649. p. 388</p><p>§. LXVI. An. di Cri. 1650. p. 390</p><p>§. LXVII. An. di Cr. 1652. p. 391</p><p>§. LXVIII. Si fanno nuove disposizioni di guerra. An. di Cri. 1654.  p. 393 An. di Cri. 1655.  p. 396</p><p>An. di Cri. 1656. p. 397</p><p>An. di Cri. 1658. p. 397</p><p>An. di Cr. 1662. p. 398</p><p style=" line-height: 108%;">§. LXIX. Vendita dei Stati di Colonna a Barberini. An. di Cri. 1663.  p. 399 An. di Cri. 1664.  p. 401</p><p>An. di Cri. 1665. p. 402</p><p>An. di Cri. 1666. p. 402</p><p>An. di Cri. 1667. p. 402</p><p>An. di Cri. 1668. p. 402</p><p style=" line-height: 107%;">§. LXX. Della nuova numerazione, de’ Fuochi. An. di Cri. 1669.  p. 402 An. di Cri. 1671.  p. 404</p><p>§. LXXI. Degli eccessi cagionati da Banditi. An. di Cri. 1672.  p. 405 An. di Cri. 1674.  p. 406</p><p>An. di Cri. 1676. p. 406</p><p>Ann. di Cri. 1677. p. 407</p><p>An. di Cri. 1683. p. 407</p><p>An. di Cri. 1684. p. 407</p><p>An. di Cri. 1694. p. 408</p><p>§. LXXII. Descrizione di alcune Cattedrali dell’Abruzzo. An. di Cri. 1700.  p. 408 An. di Cri. 1701.  p. 412</p><p>An. di Cri. 1702. p. 412</p><p>An. di Cri. 1706. p. 412</p><p>§. LXXIII. Della conquista del Regno fatta dagli Austriaci. An. di Cri. 1707. p. 413</p><p><br /></p><table style="border-collapse:collapse;margin-left:5.14pt" cellspacing="0"><tr style="height:13pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 1text-align: center;">An. di Cri. 1708.</p></td><td style="width:36pt"><p class="s3" style="line-height: 1">p. 421</p></td></tr><tr style="height:15pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 13pt;text-align: center;">An. di Cri. 1709.</p></td><td style="width:36pt"><p class="s3" style="line-height: 13pt;">p. 422</p></td></tr><tr style="height:15pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 13pt;text-align: center;">An. di Cri. 1718.</p></td><td style="width:36pt"><p class="s3" style="line-height: 13pt;">p. 422</p></td></tr><tr style="height:15pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 13pt;text-align: center;">An. di Cri. 1731.</p></td><td style="width:36pt"><p class="s3" style="line-height: 13pt;">p. 422</p></td></tr><tr style="height:15pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 13pt;text-align: center;">An. di Cri. 1734.</p></td><td style="width:36pt"><p class="s3" style="line-height: 13pt;">p. 423</p></td></tr><tr style="height:15pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 13pt;text-align: center;">An. di Cri. 1735.</p></td><td style="width:36pt"><p class="s3" style="line-height: 13pt;">p. 423</p></td></tr><tr style="height:15pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 13pt;text-align: center;">An. di Cri. 1743.</p></td><td style="width:36pt"><p class="s3" style="line-height: 13pt;">p. 423</p></td></tr><tr style="height:15pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 13pt;text-align: center;">An. di Cri. 1744.</p></td><td style="width:36pt"><p class="s3" style="line-height: 13pt;">p. 423</p></td></tr><tr style="height:15pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 13pt;text-align: center;">An. di Cri. 1745.</p></td><td style="width:36pt"><p class="s3" style="line-height: 13pt;">p. 424</p></td></tr><tr style="height:15pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 13pt;text-align: center;">An. di Cri. 1748.</p></td><td style="width:36pt"><p class="s3" style="line-height: 13pt;">p. 424</p></td></tr><tr style="height:15pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 13pt;text-align: center;">An. di Cri. 1751.</p></td><td style="width:36pt"><p class="s3" style="line-height: 13pt;">p. 424</p></td></tr><tr style="height:15pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 13pt;text-align: center;">An. di Cri. 1752.</p></td><td style="width:36pt"><p class="s3" style="line-height: 13pt;">p. 425</p></td></tr><tr style="height:15pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 13pt;text-align: center;">An. di Cri. 1754.</p></td><td style="width:36pt"><p class="s3" style="line-height: 13pt;">p. 425</p></td></tr><tr style="height:15pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 13pt;text-align: center;">An. di Cri. 1757.</p></td><td style="width:36pt"><p class="s3" style="line-height: 13pt;">p. 426</p></td></tr><tr style="height:15pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 13pt;text-align: center;">An. di Cri. 1760.</p></td><td style="width:36pt"><p class="s3" style="line-height: 13pt;">p. 426</p></td></tr><tr style="height:15pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 13pt;text-align: center;">An. di Cri. 1771.</p></td><td style="width:36pt"><p class="s3" style="line-height: 13pt;">p. 427</p></td></tr><tr style="height:13pt"><td style="width:78pt"><p class="s3" style="padding-right: line-height: 1text-align: center;">An. di Cri. 1777.</p></td><td style="width:36pt"><p class="s3" style="line-height: 1">p. 427</p></td></tr></table>
                    
                    <p>CAP. II. Della Legione Italica: e dell’origine del nome Abruzzo. p. 428</p>
                    <p>L’An. 65. di Cri. p. 428</p>
                    <p>§. I. p. 434</p>
                    <p>§. II. p. 440</p>
                    <p>Indice p. 457</p>

                </div>
            </div>
        </div>
    </div>
</section>




    