@{
    ViewBag.Title = "Presentazione";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
}

<section class="banner-area">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start" style="max-height: 100px!important;">
        </div>
    </div>
</section>
<section class="testomial-area section-gap" style="padding-bottom: 20px!important;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">@ViewBag.Title</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="single-defination">
                    <p><b><i>@Html.Raw("@")Manoscritti Antinoriani</i></b> è il sito che rende accessibili, fruibili e trascrivibili i 106 Manoscritti Antinoriani in formato digitale. </p>
                    <p>La digitalizzazione aggiunge valore a queste Testimonianze già d’inestimabile valore, permettendo la salvaguardia degli originali conservati dal 1886 presso la biblioteca “Salvatore Tommasi” dell’Aquila per <a href="/Book/P_TranslatePageWithAuth?pageId=ccc2fd4f-7287-40a2-b4ce-e3585ca81756" target="_blank">donazione dei marchesi Dragonetti</a>, ai quali giunsero dal pronipote omonimo di Antinori per <a href="/Book/P_TranslatePageWithAuth?pageId=f2bbef99-5e23-4124-989f-bfb477d04726" target="_blank">testamento olografo del 1832</a>.</p>
                    <p>Redatti da <a href="/Home/informazioni/biografia" target="_blank"><i>Antonio Antinori</i></a> tra il 1758 e il 1777 con l’assistenza di un gruppo di collaboratori, i Manoscritti raccolgono notizie corredate da fonti bibliografiche, manoscritte e archivistiche su fatti abruzzesi nel senso più ampio, dalle origini della Storia all’anno 1777; costituiscono una fonte per la ricerca storiografica sull’Abruzzo ampiamente dimostrata dalla notevole bibliografia sulla figura dell’Antinori e la sua opera, dalle pubblicazioni delle sue ricerche e da quelle che si basano sulle ricerche dello stesso erudito.</p>
                    <p>La risorsa digitale <i>Manoscritti Antinoriani</i> permette di ricercare automaticamente le pagine digitalizzate (facsimili) attraverso parole chiave tratte dagli indici elaborati da <a href="~/Content/Public/Resources/CASTI A_Molteplici_Opere_PARTIZIONI.pdf" target="_blank">Enrico Casti</a>, bibliotecario che a fine Ottocento ordinò e classificò i Manoscritti definendone la struttura generale in cui ancora oggi si presenta il corpus, suddiviso in <a href="/Book/P_ReadBooks" target="_blank">Annali degli Abruzzi - Corografia storica degli Abruzzi - Iscrizioni lapidarie - Monumenti, uomini illustri e cose varie e Appendice</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>
