@{
    ViewBag.Title = "Restauro Microfilm e Copie Anastatiche";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
}

<section class="banner-area">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start" style="max-height: 100px!important;">
        </div>
    </div>
</section>
<section class="testomial-area section-gap" style="padding-bottom: 20px!important;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">@ViewBag.Title</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="single-defination">
                    <p>Durante il <a href="/Book/P_TranslatePageWithAuth?pageId=2e901962-2289-433a-ac93-377bf6f1d585" target="_blank">restauro </a> del 1959, ad opera di Ferracci di Assisi, i Manoscritti sono stati rilegati passando da 56 a 64 volumi per via di sdoppiamenti. </p>
                    <p>Con il restauro del 1973, altri sdoppiamenti hanno portato al numero di 106 manoscritti.</p> 
                    <p>Dal 1971 al 1973 è stata realizzata la copia anastatica in 36 volumi di <i>Annali degli Abruzzi</i> dall’editore Forni di Bologna che nel 1971 avviò, ma non concluse, anche la copia di <i>Corografia storica degli Abruzzi</i> in 15 volumi.</p>
                    <p>La numerazione progressiva delle carte, comprese quelle bianche, è apposta in alto a destra scritta a matita, di modulo piccolo: è la cartulazione eseguita durante le attività di restauro compiuto da Giovanni Di Giacomo, restauro iniziato il primo luglio del 1970 e concluso il 12 dicembre del 1973. </p>
                    <p>La numerazione di ogni singola pagina è segnata in alto a matita, talvolta di colore blu, di modulo grande: è contestuale al lavoro di organizzazione del “materiale” ed elaborazione delle parti e indici di <a href="~/Content/Public/Resources/CASTI A_Molteplici_Opere_PARTIZIONI.pdf" target="_blank">Enrico Casti</a>.</p>
                    <p>Oggi il <i>corpus</i> dei 106 Manoscritti ha una rilegatura in cuoio che risulta dal lavoro di restauro compiuto nel 1973. </p>
                </div>
            </div>
        </div>
    </div>
</section>
