@{
    ViewBag.Title = "Ricerca degli Argomenti e dei Facsimili";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
}

<section class="banner-area">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start" style="max-height: 100px!important;">
        </div>
    </div>
</section>
<section class="testomial-area section-gap" style="padding-bottom: 20px!important;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">@ViewBag.Title</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="single-defination">
                    <p>Il sistema di <i>Ricerca facsimili</i> permette di compiere un’esplorazione sulle trattazioni dei Manoscritti facilitandone la consultazione.</p>
                    <p>Scrivendo parole libere e avviando la ricerca, il sistema restituisce i facsimili pertinenti; è possibile ricercare gli argomenti elencati nell’indice di ogni manoscritto, ricercabili scrivendo indifferentemente in maiuscolo o minuscolo, avviando la ricerca su tutto il <i>corpus</i> dei Manoscritti o selezionando una singola <i>parte</i>.</p>
                    <p>Gli indici di ogni manoscritto sono i titoli di ogni trattazione, argomento, materia, concepiti a fine Ottocento dal bibliotecario <a href="~/Content/Public/Resources/CASTI A_Molteplici_Opere_PARTIZIONI.pdf" target="_blank">Enrico Casti</a>; quell’intervento di classificazione è storicizzato e non può essere ignorato, ha condizionato la struttura fisica interna ed esterna di carte e volumi, e definito la modalità di accesso alle informazioni attraverso i corrispondenti numeri di pagina. </p>
                    <p>Cliccando il singolo facsimile restituito dalla ricerca, viene visualizzato nella stessa posizione in cui si trova l’originale cartaceo; sopra l’immagine è sempre riportato il nome della <i>parte</i> e il numero del volume afferente; due freccette permettono di sfogliare virtualmente il volume in avanti e in dietro; seguito dal simbolo # è il numero univoco identificativo di ogni singolo facsimile.</p>
                    <p>Per avere una panoramica generale degli argomenti trattati, si suggerisce di avviare la ricerca con la parola <i>indice</i>: saranno restituite tutte le pagine con l’indice di ogni manoscritto. </p>
                    <p>Ogni facsimile può essere ingrandito e stampato effettuando il download dell’immagine in formato jpg e tiff.</p>
                 </div>
            </div>
        </div>
    </div>
</section>
