@{
    ViewBag.Title = "Come Accedere alla Risorsa";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
}

<section class="banner-area">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start" style="max-height: 100px!important;">
        </div>
    </div>
</section>
<section class="testomial-area section-gap" style="padding-bottom: 20px!important;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">@ViewBag.Title</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="single-defination">
                    <p>Il sito <b><i>@Html.Raw("@")Manoscritti Antinoriani</i></b> Antinoriani permette la fruizione della risorsa digitale e la gestione del flusso di lavoro tra trascrittori e supervisore che verifica e valida la trascrizione con l’obiettivo comune di sviluppare collettivamente il progetto di trascrizione completa dei manoscritti. Si accede attraverso account personali, registrandosi al sito e ottenendo l’autorizzazione ad operare: ciò costituisce una rete di persone che su base volontaria collabora trascrivendo una parte di manoscritti a loro scelta. </p>
                    <p>L’account personale è necessario anche per la visualizzazione, lettura, download e stampa della risorsa digitale.</p>
                    <p>Selezionando <a href="/Book/P_ReadBooks" target="_blank"><i>Risorse</i></a> dall’home page si accede a <a href="/Book/P_ReadBooks" target="_blank"><i>Manoscritti Antinoriani</i></a> (l’accesso a <i>Fonti</i> è in lavorazione) rappresentati nella loro <a href="~/Content/Public/Resources/CASTI A_Molteplici_Opere_PARTIZIONI.pdf" target="_blank">struttura generale</a> data dal biobliotecario Enrico Casti a fine Ottocent. Cliccando sulla <i>parte</i> di interesse, viene restituito sul lato sinistro l’elenco dei Manoscritti: fermando il puntatore del mouse sul numero romano, viene restituito il titolo dello stesso e cliccando al centro della pagina vengono visualizzati i facsimili. Ad ogni facsimile è associato un numero arabo univoco, preceduto dal simbolo # oltre alla finestra <i>trascrivi</i>! dalla quale si accede per procedere alla trascrizione. </p>
                    <p>Cliccando sul singolo facsimile restituito dalla ricerca, questo viene visualizzato nella stessa posizione in cui si trova il corrispondente cartaceo nel manoscritto originale; sopra l’immagine è sempre riportato il nome della parte dei Manoscritti e il numero romano afferente; due freccette in alto ne permettono lo scorrimento virtuale in avanti e in dietro con la possibilità di ricerca per numero di facsimile che, preceduto dal simbolo #, è sempre univoco. </p>
                    <p>Il numero del facsimile è sempre progressivo anche quando si passa da un tomo all’altro, come nel caso del ms. III della parte di <i>Annali</i>, composto dal tomo 1 e tomo 2 e così come in tutti gli altri manoscritti divisi in più tomi.</p>
                </div>
            </div>
        </div>
    </div>
</section>
