@{
    ViewBag.Title = "Struttura Dei Manoscritti Antinoriani";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
}

<section class="banner-area">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start" style="max-height: 100px!important;">
        </div>
    </div>
</section>
<section class="testomial-area section-gap" style="padding-bottom: 20px!important;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">@ViewBag.Title</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="single-defination">
                    <p>Nel 1886 il materiale arrivò in Biblioteca non rilegato ma ordinato in ventisette buste e ventitré pacchi corredati da cartellini con la descrizione del contenuto a cui il bibliotecario Ernico Casti non trovò corrispondenza per via di precedenti spostamenti e maneggiamenti; il materiale fu classificato in quattro parti con la compilazione di <a href="~/Content/Public/Resources/CASTI A_Molteplici_Opere_PARTIZIONI.pdf" target="_blank">indici</a> a CASTI A) così come ancora oggi lo consultiamo:  </p>
                    <ul>
                        <li style="list-style: disc">Parte I <a href="/Book/P_ReadBooks" target="_blank"><i>Annali degli Abruzzi</i></a> mss. I – XXIV, con trattazione di memorie storiche degli Abruzzi suddivisa per anni</li>
                        <li style="list-style: disc">Parte II <a href="/Book/P_ReadBooks" target="_blank"><i>Corografia storica degli Abruzzi</i></a> mss.  XXV – XLII, con trattazione storica di località abruzzesi ordinate alfabeticamente</li>
                        <li style="list-style: disc">Parte III <a href="/Book/P_ReadBooks" target="_blank"><i>Iscrizioni Lapidarie</i></a>, mss.  XLIII – XLVI, con trattazione e studi di epigrafi abruzzesi</li>
                        <li style="list-style: disc">Parte IV <a href="/Book/P_ReadBooks" target="_blank"><i>Monumenti e cose varie</i></a> mss. XLVII – LI, con trattazione storica di monumenti prevalentemente della città dell’Aquila</li>
                    </ul>

                    <br />
                    <p>La sezione <a href="/Book/P_ReadBooks" target="_blank"><i>Appendice</i></a>, formata dai mss. LII – LVI è costituita da:</p>
                    <ul>
                        <li style="list-style: disc">ms. LII, <i>Successioni di papi, re, principi,</i> prevalentemente postumo all’Antinori, è una miscellanea che raccoglie sonetti, epitaffi, composizioni e dediche in memoria del defunto arcivescovo Antonio Antinori; raccoglie anche registrazioni dei <a href="/Book/P_TranslatePageWithAuth?pageId=e7c05140-b8fd-448f-9886-bd19ae3b35c3" target="_blank">movimenti giornalieri di cassa</a> del 1703 compiute da Giacinto Antinori, padre dell’Arcivescovo, e un memoriale del barone <a href="/Book/P_TranslateSearchedPageWithAuth?pageNumber=160&subsectionId=34c9cac2-c24b-4652-b1de-4944393f105d" target="_blank">Giulio Pezzoli</a> a servizio del re Filippo IV, con emblema araldico del cavalierato e corona di Spagna, stampato in lingua spagnola del 1660.</li>
                        <li style="list-style: disc">ms. LIII, <i>Sigle lapidarie</i>, una raccolta alfabetica di abbreviazioni latine epigrafiche, probabilmente estratto dai manoscritti della parte III, <i>Iscrizioni Lapidarie</i>.</li>
                        <li style="list-style: disc">ms. LIV, <i>Notizie sull’arcivescovo A. L. Antinori</i>, autografo del pronipote omonimo dell’Erudito, <a href="/Book/P_TranslatePageWithAuth?pageId=ccc2fd4f-7287-40a2-b4ce-e3585ca81756" target="_blank">donato</a> alla biblioteca “Salvatore Tommasi”.</li>
                        <li style="list-style: disc">ms. LV, <i>Archivio Aquilano</i>, probabilmente estratto dai manoscritti della parte I, II e IV; già segnalato da Orazio D’Angelo nel 1904 come <i>un regesto senza titolo e mancante delle ultime pagine, contenente il transunto di 666 documenti dell’antico archivio aquilano è lavoro compiuto dall’Antinori nel 1774</i>, è stato poi trascritto e pubblicato da Salvatore Piacentino nel 1977.</li>
                        <li style="list-style: disc">ms. LVI, <i>San Martino d’Ocre</i>, trattazione monografica sulla località di San Martino di Ocre (Aq), probabilmente estratto dal ms. XXXV di <i>Corografia storica degli Abruzzi</i>; è stato acquisito dalla biblioteca “Salvatore Tommasi” con una <a href="/Book/P_TranslatePageWithAuth?pageId=6544b962-53ee-475c-bd81-ab076eb898e7" target="_blank">donazione</a> del 1948.</li>
                    </ul>
                    <br />
                    <p>La numerazione di ogni singola pagina è segnata prevalentemente in alto a matita blu con numero arabo di modulo grande: è contestuale al lavoro di classificazione ed elaborazione degli indici da parte di Enrico Casti.</p>
                    <p>Una progressiva numerazione delle carte, comprese quelle bianche, è apposta in alto a destra scritta a matita con numero arabo di modulo piccolo: è la cartulazione eseguita durante le attività di restauro compiuto da Giovanni Di Giacomo tra il luglio del 1970 e il 12 dicembre del 1973. </p>
                    <p>Durante il restauro del 1959, ad opera di Ferracci di Assisi, i Manoscritti sono stati sdoppiati e rilegati passando da 56 a 64 volumi.</p>

                    <p>Con il <a href="/Book/P_TranslatePageWithAuth?pageId=2e901962-2289-433a-ac93-377bf6f1d585" target="_blank">restauro </a> del 1973 il numero dei volumi è salito a 106 così come li consultiamo ancora oggi, rilegati con una coperta in cuoio: sul dorso di ogni volume ci sono due tasselli di color marrone scuro compresi nello spazio tra i nervi della rilegatura: </p>
                    <ul>
                        <li style="list-style: disc">sul primo più in alto sono impressi il nome dell’autore, il numero e nomenclatura della parte; segue poi il numero del manoscritto in cifre romane seguito da cifre arabe in caso di ripartizioni in tomi; </li>
                        <li style="list-style: disc">sul secondo tassello sono riportati in breve i dati relativi al contenuto delle quattro <i>parti</i>: in <i>Annali</i>, per esempio, si leggono gli estremi cronologici della trattazione. </li>
                    </ul>
                    <br />
                    <p>Su ogni volume, nella parte in basso del dorso, è riportato in progressione il numero di corda che lega tutto il corpus, dal numero 1 fino al 106.</p>
                    <p>Gli estremi dei numeri di corda relativi alle <i>parti</i> sono:</p>
                    <ul>
                        <li style="list-style: disc"><i>Annali degli Abruzzi</i>, 1-43</li>
                        <li style="list-style: disc"><i>Corografia storica degli Abruzzi</i>, 44-81</li>
                        <li style="list-style: disc"><i>Iscrizioni lapidarie</i>, 82-87</li>
                        <li style="list-style: disc"><i>Monumenti e cose varie</i>, 88-101</li>
                        <li style="list-style: disc"><i>Appendice</i>, 102-106</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
