@{
    ViewBag.Title = "Criteri di Trascrizione";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
}

<section class="banner-area">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start" style="max-height: 100px!important;">
        </div>
    </div>
</section>
<section class="testomial-area section-gap" style="padding-bottom: 20px!important;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">@ViewBag.Title</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="single-defination">
                    <h5><i>Introduzione</i></h5>
                    <p>Si propongono i seguenti criteri di trascrizione utili come strumento redazionale per coloro che desiderano trascrivere i Manoscritti Antinoriani attraverso questo sito, trascrizione che sarà integrale e fedele al testo originale riportato in facsimile a fronte.</p>
                    <p>Sono un elenco di norme a cui attenersi il cui fine è quello di normalizzare e rendere il più possibile omogeneo il lavoro di trascrizione in crowdsourcing, utili anche per coloro che leggono le trascrizioni e le confrontano con il manoscritto; spiegano, ad esempio, come sciogliere abbreviazioni, normalizzare la punteggiatura, come inserire maiuscole e minuscole …. </p>
                    <p>Queste norme sono dedotte da criteri convenzionali* generalmente usati nell’ambito delle edizioni di manoscritti, in parte esposti anche nelle prefazioni di alcune principali <a href="~/home/trascrizione/edizioni" target="_blank">edizioni di trascrizioni di manoscritti antinoriani</a>.</p>
                    <br />
                    <p style="font-size: 16px;"><i>Abbreviazioni</i></p>
                    <p>I compendi abbreviativi sono sciolti sulla base delle corrispettive forme piene, senza adottare l’uso di parentesi, sia nelle parole abbreviate per troncamento (<i>v.</i> > vedi), o per contrazione (<i>desc.ne</i> > descrizione; <i>t.rio</i> > territorio), anche se la parte finale delle parole è in apice (<i>v.<sup>a</sup> ec<sup>a</sup></i> > vostra eccellenza), sia nei casi espressi con segni abbreviativi di significato proprio (per, pre, pro, ecc. per queste forme si consulti il <i>Dizionario delle abbreviazioni latine ed italiane</i> di A. Cappelli) o con segni adottati al posto di una o più lettere (<i>roga˜ > rogare</i>).</p>
                    <p style="font-size: 16px;"><i>Accenti</i></p>
                    <p>L’uso dell’accento è adeguato all’uso moderno, distinguendo tra accento acuto e grave soltanto per la <i>e</i> (è, cioè, né, poiché, perché).  Si pone su parole sdrucciole o piane nei casi di ambiguità (prìncipi, inviaròllo, dìcesi); si adotta inoltre per <i>pò</i> (può), <i>dè</i> (diedi, diede) e per <i>à</i> (ha) e <i>ò</i> (ho), forme da mantenersi, mentre nella terza persona plurare di <i>avere</i> si inserisce h (<i>anno</i> > hanno) che si conserva in tutti gli altri casi (haverete).</p>
                    <p style="font-size: 16px;"><i>Apostrofi</i></p>
                    <p>Si adotta l’apostrofo per segnare la caduta sintattica dell’articolo (<i>de francesi</i> > de’ francesi, <i>a piedi</i> > a’ piedi, <i>da nemici</i> > da’ nemici), per <i>de’</i> (deve) e per segnalare l’aferesi (<i>lomperatore > lo ’mperatore</i>); vedi anche <i>Unione e separazione delle parole</i>.</p>
                    <p style="font-size: 16px;"><i>Cancellature e aggiunte</i></p>
                    <p>Si trascrive il testo di ultima mano, quindi non si segnalano le aggiunte interlineari o marginali, gli interventi di correzione, espunzione o cancellature.</p>
                    <p style="font-size: 16px;"><i>Latino e altre lingue</i></p>
                    <p>Le parole latine e in altre lingue sono trascritte in tondo.</p>
                    <p style="font-size: 16px;"><i>Lettere</i></p>
                    <p>Ogni lettera viene trascritta fedelmente come riconosciuta nel modello ad eccezione della <i>j</i> da rendersi con <i>i</i> (<i>Ajelli</i>>Aielli, <i>ij</i>>ii), in qualunque posizione; <i>y</i> con valore di <i>ij</i> >ii; la <i>u</i> per la resa della labiodentale sonora è trascritta v (<i>uiuere</i> > vivere, <i>uole</i> > vole).</p>
                    <p>La <i>ç</i> mantiene la cediglia, la <i>e</i> caudata (ę) è trascritta con il dittongo -ae; le lettere inserte (<i>æ</i>) si trascrivono separate (ae, oe); scempiamenti e raddoppiamenti dialettali sono rispettati.</p>
                    <p style="font-size: 16px;"><i>Maiuscole e minuscole</i></p>
                    <p>L’uso della maiuscola è adottato dopo ogni punto fermo. Si adotta inoltre per i nomi propri, i nomi di magistrature e di istituzioni sia laiche (Tribunale Regio, Camera Aquilana) che ecclesiastiche (Sede Apostolica, Camera Apostolica, Rota, Conclave) e quando ci si riferisce alle istituzioni universali (Chiesa Cattolica Romana e Sacro Romano Impero); per i nomi di Stati (Regno di Napoli; Stato della Chiesa), per i nomi di popoli (Fiorentini, Francesi), i nomi geografici, anche in forma di aggettivo sostantivato (Aquilano, Chietino, Pescarese, Teramano); per i <i>nomina sacra </i> (Dominus/Domino; Deus/Dio; Mater Dei/Madre di Dio), <i>santo e beato </i>in minuscolo se si riferisce alla persona del santo (es. il monogramma di san Bernardino), maiuscolo se si riferisce a nomi di luoghi (es. la basilica di San Bernardino) e  maiuscolo per le festività religiose così come nell’uso corrente (Pasqua, Natale). Si adotta la minuscola per i nomi comuni (chiesa, contado, castello), per i mesi e i giorni, per i titoli di nobiltà (duca, conte), per i titoli religiosi (canonico, vescovo, arcivescovo), per i titoli di dignità (sua eccellenza reverendissima, sua altezza).</p>
                    <p style="font-size: 16px;"><i>Numeri e cifre</i></p>
                    <p>I numerali arabi e romani sono riportati come scritti nel testo, utilizzando i caratteri maiuscoli per i numeri romani rispettando la forma in aumento (1530, MDXXXIV, IX, viiij > VIIIJ); la forma abbreviata composta da numero e lettere deve essere sciolta (<i>2.da</i> >seconda)</p>
                    <p style="font-size: 16px;"><i>Parentesi</i></p>
                    <p>Sono adottate le parentesi quadre [ ] per indicare lacune nel testo dovute a guasti materiali (perdita del supporto, fori, presenza di macchie, abrasioni, evanescenza o abrasione dell’inchiostro); le integrazioni di titoli, sottotitoli e paragrafi sottaciuti, le integrazioni congetturali o da altro vanno poste dentro parentesi uncinate <>. </p>
                    <p>Le omissioni presenti nel testo originale ovvero lo spazio bianco sul rigo, sono indicate con tre asterischi, es. la chiesa di San *** di Montereale. Qualora una o più lettere, oppure una o più parole, risultino di incerta lettura, si inserisce tra parentesi tonde ( ); qualora una o più parole risultino illeggibili, ugualmente si utilizzano le parentesi tonde riportando il numero e la dicitura <i>Illeggibile</i>, es. (seguono due parole illeggibili).</p>
                    <p style="font-size: 16px;"><i>Punteggiatura</i></p>
                    <p>La punteggiatura è adattata all’uso moderno; le citazioni letterali e i discorsi diretti vanno racchiusi tra virgolette basse « »</p>
                    <p style="font-size: 16px;"><i>Titoli, sottotitoli e paragrafi</i></p>
                    <p>Sono posti sempre all’inizio trascritti nell’ordine in cui sono dati.</p>
                    <p style="font-size: 16px;"><i>Unione e separazione delle parole</i></p>
                    <p>Più parole separate nel testo sono riunite secondo l’ortografia corrente, come gli avverbi (<i>in vero</i> > invero, <i>in fine</i> > infine) e le congiunzioni (<i>fin che</i> > finché, <i>ben che</i> > benché, <i>per che</i> > perché, pur che > purché, <i>acciò che</i> > accioché), mentre sono separate le preposizioni articolate non raddoppiate (<i>dela</i> > de la, <i>ala</i> > a la) e le diverse univerbazioni improprie (<i>chabbiano</i> > c’habbiano, <i>cha</i> > c’ha, <i>laltro</i>>l’altro); in <i>sel</i> e <i>chel</i> la scelta della separazione e di posizione dell’apostrofo si fonda sulla distinzione tra articoli e pronomi (<i>sel disse</i> > s’el disse, <i>sel duca</i> > se’l duca; <i>chel vole</i> > ch’el vole, <i>chel cavallo</i> > che ’l cavallo).</p>
                    <p>I casi di raddoppiamento fonosintattico sono preceduti da uno spazio: es. <i>selli</i> > se lli, <i>chelli</i> > che lli.</p>

                    <br />
                    <br />
                    <p style="font-size: 12px;"><sup>*</sup>I criteri di trascrizione sono stati definiti dai seguenti saggi: Tognetti G., <i>Criteri per la trascrizione di testi medievali latini e italiani</i>, «Rassegna degli Archivi di Stato», 51, 1982; Barbiche B. et Chatenet M. (a cura di), <i>L’Édition des textes anciens, XVIe-XVIIe siècle</i>, Paris 1990; Bologna M., <i>Criteri di edizione</i> in Bologna M. (a cura di), <i>Il Libro di note di Stefano e Agostino Centurione</i>, Genova, 2018, pp. IX-XII. </p>
                    <p style="font-size: 12px;">Di riferimento anche i criteri espressi in  <a href="https://www.cislab.unisi.it" target="_blank">www.cislab.unisi.it</a>, <a href="https://www.isabelladestearchive.org" target="_blank">www.isabelladestearchive.org</a> e <a href="https://www.mapio.unige.it/manoscrittoetrascrizione" target="_blank">www.mapio.unige.it/manoscrittoetrascrizione</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
