@{
    ViewBag.Title = "Edizioni di Trascrizioni dei Manoscritti";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
}

<section class="banner-area">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start" style="max-height: 100px!important;">
        </div>
    </div>
</section>
<section class="testomial-area section-gap" style="padding-bottom: 20px!important;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">@ViewBag.Title</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="single-defination">
                    <p>Seguono i maggiori progetti di edizioni a stampa di trascrizioni dei Manoscritti Antinoriani, raccolti per partizioni.</p>
                    <p>Di seguito si troveranno riferimenti con la cifra romana che indica il numero del manoscritto a cui può seguire la cifra araba che ne indica il tomo di suddivisione, la successiva cifra araba indica il numero della pagina e quella che segue il simbolo # indica il numero del facsimile digitale.</p>
                    <br />
                    <h5><i>Annali</i></h5>
                    <p>Tra il 1781 e il 1783 fu pubblicata a Napoli da Giuseppe Campo, la trascrizione dei manoscritti della parte di <i>Annali</i> dal titolo <a href="https://books.google.it/books?id=MZk_AAAAcAAJ&printsec=frontcover&hl=it&source=gbs_ge_summary_r&cad=0#v=onepage&q&f=true" target="_blank">Raccolta di memorie istoriche delle tre Provincie degli Abruzzi </a>; furono pubblicati solo quattro volumi di cui si fornisce il <a href="/home/Sommario" target="_blank"><i>Sommario</i></a> dunque una riduzione di <i>Annali</i> (mss. I – XXIV), con molte lacune che non riscosse successo; ristampata nel marzo 2021, sono consultabili anche in formato ebook, le trascrizioni dei mss. I – VI, a cura di Chiara Zuccarini.</p>
                    <p>Trascrizioni di varie monografie, pubblicate nel 1904 dalla Società di Storia Patria negli Abruzzi in <a href="~/Content/Public/Resources/FF_Anton_Ludovico_Antoniri_e_il_II_Centenario_nascita.pdf" target="_blank"><i>Anton Ludovico Antinori e il II centenario della sua nascita </i></a> di cui seguono i titoli con l’indicazione del ms. e numero del facsimile digitalizzato:</p>

                    <ul>
                        <li style="list-style: disc"><i>Convenzione tra la città di Teramo e le circonvicine Castella nel 1287</i> p. 127 (ms. X-1 da #333 a #341)</li>
                        <li style="list-style: disc"><i>Concordia tra Ortonesi e Lancianesi ottenuta per opera di S. Giovanni da Capestrano nel 1427</i>, p. 133 (ms. XIV-2 da #903 a #910)</li>
                        <li style="list-style: disc"><i>La peste del 1526 nell’Aquila</i>, p. 139 (ms. XVIII-2 da #618 a #622, #627)</li>
                        <li style="list-style: disc"><i>Transunto della “Descrizione di sette città d’Italia” di Girolamo Pico Fonticulano</i>, p. 147 (ms. XX-2 da #731 a #744)</li>
                        <li style="list-style: disc"><i>Il bandito Curzietto del Sambuco</i>, p. 161 (ms. XX-2 da #901 a #904) </li>
                        <li style="list-style: disc"><i>Solenne processione col trasporto di alcune reliquie alla chiesa dei Gesuiti nel 1610</i>, p. 165 (ms. XXI-2 da #813 a #823)</li>
                        <li style="list-style: disc"><i>La peste del 1656 nell’Aquila</i>, p. 171 (ms. XXII-2 da #1313 a #1324)</li>
                        <li style="list-style: disc"><i>La fine della peste nell’Aquila nel 1657</i>, p. 181 (ms. XXII-2 da #1369 a #1380)</li>
                    </ul>
                    <p>Nel 1978, a cura della Deputazione di Storia Patria negli Abruzzi, fu pubblicata la trascrizione delle citazioni di fonti archivistiche, di opere manoscritte e archivi, riportate a margine delle carte manoscritte dal vol. III al vol. XVII di <i> Annali (Antinoriana</i> 1978, vol. I, pp. 361-656); Alessandro Clementi compilò un breve elenco delle principali fonti a stampa consultate e citate da Antinori (<i>Antinoriana</i> 1978, vol. IV, pp. 115-120); nel 1980 seguiva la pubblicazione del <i>Regesto delle fonti archivistiche degli Annali Antinoriani</i> (voll. III – XVII) di Maria Rita Berardi e Alessandro Clementi.</p>
                    <p>Nel 1988 Luigi Lopez pubblicò nel Bullettino della Deputazione abruzzese di storia patria, <a href="~/Content/Public/Resources/LL_Lopez-Luigi_La-chiesa-e-le-chiese-aquilane.pdf" target="_blank">La chiesa e le chiese aquilane negli Annali di A. L. Antinori</a> che consiste in un repertorio di nomi di chiese e cose notevoli di <i>Annali</i> con l’indicazione del numero del manoscritto e rispettive pagine.</p>
                    <h5><i>Corografia</i></h5>
                    <p>La Società di storia patria "Anton Ludovico Antinori" degli Abruzzi, fin dal 1888, assunse il compito di pubblicare gli scritti dell’Antinori; elevata poi a Regia Deputazione di storia patria degli Abruzzi, dal 1913 al 1934 pubblicò nel <i>Bullettino</i>, a cura di Vincenzo De Bartholomaeis, la trascrizione dei mss. XXV-1, XXV-2 e XXVI di <i>Corografia</i> (in due ‘puntate’, <a href="~/Content/Public/Resources/GG_Abbateggio - Apignano.pdf" target="_blank"><i>Abbateggio-Apignano </i></a> e <a href="~/Content/Public/Resources/QQ_Aquila - Atessa.pdf" target="_blank"><i>Aquila-Atessa </i></a>) di cui seguono gli indici:</p>
                    <ul>
                        <li style="list-style: disc"><i>Abbateggio</i> p. 1, <i>Acciano</i> p. 1, <i>Acummoli</i> p. 4, <i>Acquadosso</i> p. 8, <i>Acquaviva</i> p. 8, <i>Acquaviva</i> p. 9, <i>Acquaviva di Penne</i> p. 10, <i>Acquaviva presso al Sento</i> p. 10, <i>Acquaviva al Sangro</i> p. 11, <i>Agnone</i> p. 13, <i>Aiello</i> p. 33, <i>Alanno</i> p. 34, <i>Alba</i> p. 37, <i>Della Terra d’Alfidena</i> p. 53, <i>Altavilla</i> p. 57, <i>Altino</i> p. 57, <i>Alto di Santa Maria</i> p. 60, <i>Amatrice</i> p. 60, <i>Amiterno e San Vittorino</i> p. 92, <i>Ancarano</i> p. 143, <i>Androsciano</i> p. 148, <i>Angolo</i> p. 149, <i>Angri</i> p. 152, <i>Ansanto ne’ Marsi</i> p. 152, <i>Ansidonia</i> p. 157, <i>Della Terra d’Anversa</i> p. 158, <i>Apagitano</i> p. 161, <i>Apicciano</i> p. 162, <i>Apignano</i> p. 163.</li>

                        <li style="list-style: disc"><i>Aquila</i> p. 165, <i>Aquilana</i> p. 166, <i>Aquilano</i> p. 166, <i>Aracone</i> p. 168, <i>Aragno</i> p. 168, <i>Archi</i> p. 170, <i>Archiano</i> p. 173, <i>Archippe</i> p. 175, <i>Arcipietra</i> p. 177, <i>Ari</i> p. 179, <i>Arielli</i> p. 187, <i>Arischia</i> p. 193, <i>Armara</i> p. 203, <i>Arola</i> p. 204, <i>Arpagnano</i> p. 205, <i>Ascero</i> p. 205, <i>Aschi</i> p. 205, <i>Assergi</i> p. 207, <i>Aterno città</i> p. 217, <i>Aterno fiume</i> p. 250, <i>Atessa</i> p. 263.</li>
                    </ul>
                    <br />
                    <h5><i>Annali e Corografia</i></h5>
                    <p>Nel 1986 Walter Capezzali in <i>Capestrano e San Pietro ad Oratorium</i>, pubblicò la trascrizione di varie partizioni monografiche estratte da <i>Corografia e Annali </i> elencate di seguito:</p>
                    <ul>
                        <li style="list-style: disc"><i>Corografia</i>: XXVIII-2, da pag. 293 a pag. 478, e fascicolo di 66 pagine inserito tra le pagg. 484 e 485.</li>
                        <li style="list-style: disc"><i>Annali</i>: VII 139, 153, 442; VIII 96, 322; IX 425; X 159; XI 146, 276, 491; XII 178, 315; XIII 141; XIV 121, 123, 124, 125, 127, 128, 240, 782; XV 59, 60, 171, 172, 188; XVII 155, 245, 424, 425, 785; XVIII 101, 104, 328, 353, 354, 436, 440, 577, 578, 595, 610; XIX 78, 258, 294, 610; XX 463, 464; XXI 177, 600; XXII 251, 252, 732, 757, 759, 940; XXIII 22.</li>
                    </ul>
                    <br />
                    <h5><i>Iscrizioni lapidarie</i></h5>
                    <p>Nel 1978 Anna Pasqualini pubblicò un elenco dei vari luoghi citati nella parte dei manoscritti epigrafici (<i>Antinoriana</i> 1978, vol.I, pp. 106-125).</p>

                    <h5><i>Monumenti e cose varie</i></h5>
                    <p>Nel 1886 fu pubblicata l’opera postuma di Angelo Leosini, <i>Annali della città dell’Aquila</i>, trascrizione in parte del ms. LI-1/2, a cura di Giuseppe Leosini.</p>
                    
                    <h5><i>Appendice</i></h5>
                    <p>Nel 1977 Salvatore Piacentino pubblicò il <i>Regesto Antinoriano </i> con la trascrizione integrale del ms. LV di <i>Appendice</i>.</p>

                    <h5><i>Trascrizioni da varie partizioni</i></h5>
                    <p>Trascrizioni di varie monografie, pubblicate nel 1887 da Enrico Casti in <a href="~/Content/Public/Resources/TT_Enrico_Casti_Molteplici_Opere_TRASCRIZIONI.pdf" target="_blank"><i>Anton Ludovico Antinori e le sue molteplici opere edite ed inedite</i></a> di cui segue l’indice dei titoli e numero di pagina oltre all’indicazione del ms. e numero del facsimile digitale:</p>
                    <ul>
                        <li style="list-style: disc"><i>I terremoti del 1461 – 62 nell’Aquila</i>, p. 111 (ms. XV-2 #805, da #839 a #854, da #859 a #862, da #869 a #871)</li>
                        <li style="list-style: disc"><i>Il piccolo e vicino fiume d’Acquaoria</i>, p. 122 (ms. XXXI-1 da #453 a #451 sic)</li>
                        <li style="list-style: disc"><i>Osservazioni sul Calendario Amiternino, esposte in forma di lettera diretta forse al Tanucci</i>, p. 124 (ms. LIV da #219 a #221)</li>
                        <li style="list-style: disc"><i>Fondazione del Collegio dei Gesuiti</i>, p. 127 (ms. XLVII-2 da #1185 a #1192</li>
                    </ul>
                    <br />
                </div>
            </div>
        </div>
    </div>
</section>
