@{
    ViewBag.Title = "Presentazione";
    Layout = "~/Views/Shared/LayoutPublic.cshtml";
}

<section class="banner-area">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-start" style="max-height: 100px!important;">
        </div>
    </div>
</section>
<section class="testomial-area section-gap" style="padding-bottom: 20px!important;">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">@ViewBag.Title</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="single-defination">
                    <p>La trascrizione è aperta alla libera partecipazione di volontari che scelgono cosa trascrivere, sviluppando collettivamente il progetto. Il trascrittore visualizzerà in parallelo il facsimile della singola pagina del manoscritto e la pagina bianca di lavoro su cui riportare la trascrizione che sarà pubblicata a nome del trascrittore previa validazione da parte del supervisore.</p>
                    <p>Il trascrittore dovrà attenersi ai <a href="~/home/trascrizione/criteri" target="_blank">criteri di trascrizione</a> e potrà usufruire delle principali <a href="~/home/trascrizione/edizioni" target="_blank">edizioni di trascrizioni di manoscritti antinoriani</a>.</p>
                </div>
            </div>
        </div>
    </div>
</section>
